<!DOCTYPE html>
<html>
  <head>
    <title>Examination Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--inject:css-->
    <link rel="stylesheet" href="/style/icons.css">
    <link rel="stylesheet" href="/style/main.css">
    <!--endinject-->
    <script src="lib/angular.js"></script>
  </head>
  <body ng-app="App" ng-cloak> 
    <section id="menus" ng-controller="MenuController as menu">
      <h2>Menus</h2>
      <section class="container">
      <row>
        <column twelve>
          <h5>Structure</h5>
          <p>There are a lot of helpful tools available for creating some standard menus. To use them, make sure to create a <em>nav</em>-element. Inside this element, include the <em>links</em>-element and refer to an object of links in the controller in the <em>menu</em>-attribute. The object should include a property called <em>links</em>, which is an array of the links to include in the menu. Each link should have a <em>title</em> and a <em>href</em>, which is what to display and where to go. Optional is to include a <em>subMenu</em>, which should be another object containing the property <em>links</em> and structured in the same way. The original object can also have the property <em>toggle</em>, which determines whether submenus should be opened on hover or on clicking.</p>
          <p><code>
            &lt;nav ng-switch-when="horizontal" class="horizontal">
              &lt;links menu="menu">&lt;/links>
            &lt;/nav>
          </code>
          </p>
          <p>
          <code>
      menu = {
              toggle: true,
              links: [
                {name: 'Home', 
                 href: 'index.html',
                 subMenu: [
                    {name: 'About',
                     href: '#about'
                    }
                 ]}
              ]
             };
          </code>
          </p>
        
        <h5>Styling</h5>
        <p>
          To get different styles on your navigation you can simply add classes to your <em>nav</em>-element. Use <em>horizontal</em> or <em>vertical</em> to get different kinds of menus, and combine them with <em>fixed</em> to get a menu constantly on screen. On the vertical menu you can also add the class <em>right</em> for it to appear on the right side instead.
        </p>
        
        <h5>Snapping</h5>
        <p>
          Use the attribute <em>snap-to-top</em> on an element to make it stick to the top of the window once you scroll past it. Also add <em>keep-pos</em> if you need to keep it in place.
        </p>
          
          
        <h5>Hamburger</h5>
        <p>To create a hamburger-menu, where the menu is obscured by an icon until clicked, simply surround the <em>links</em>-element with a <em>hamburger</em>-element.</p>
        
        <h5>Examples</h5>
          <button ng-click="menu.toggleSubMenuToggle()">Toggle Submenus</button>
        <form name="chooseMenu">
          <radio-button ng-repeat="style in menu.styles" label="{{style.name}}" id="{{'menu' + $index}}" ng-model="menu.menuStyle" value="style.value" name="menuOptions"></radio-button>
        </form>
        <div ng-switch="menu.menuStyle">
            <nav ng-switch-when="horizontal" class="horizontal">
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="h-snap" class="horizontal" snap-to-top>
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="h-fixed" class="horizontal fixed">
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="h-hamburger" class="horizontal">
              <hamburger>
                <links menu="menu.menu"></links>
              </hamburger>
            </nav>
            <nav ng-switch-when="vertical" class="vertical">
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="v-snap" class="vertical" snap-to-top keep-pos>
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="v-fixed" class="vertical fixed">
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="v-fixed-r" class="vertical right fixed">
              <links menu="menu.menu"></links>
            </nav>
            <nav ng-switch-when="v-hamburger" class="vertical">
              <hamburger>
                <links menu="menu.menu"></links>
              </hamburger>
            </nav>
        </div>
        </column>
        </row>
      </section>
    </section>
    <section id="basic-styles">
      <h2>Basic Styles</h2>
      <section class="container">
          <h3>Headings</h3>
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
      </section>
      <section class="container">
        <h3>Links</h3>
        <a href="#">Link</a>
      </section>
      <section class="container">
        <h3>Buttons</h3>
        <button>Button</button>
        <button class="primary">Primary</button>
        <button class="secondary">Secondary</button>
        <button class="contrast">Contrast</button>
        <button disabled>Disabled</button>
      </section>
      <section class="container">
        <h3>Lists</h3>
        <row>
          <column six>
            <h4>Unordered lists</h4>
            <row>
              <column six>
                  <ul>
                    <li>First item</li>
                    <li>Second item</li>
                    <li>Third item</li>
                  </ul>
              </column>
              <column six>
                  <ul class="underline">
                    <li>First item</li>
                    <li>Second item</li>
                    <li>Third item</li>
                  </ul>
                  <p class="mute">Add the class <em>underline</em> to your list for a different style.</p>
              </column>
            </row>  
          </column>
          <column six>
              <h4>Ordered lists</h4>
                <row>
                  <column six>
                      <ol>
                        <li>First item</li>
                        <li>Second item</li>
                        <li>Third item</li>
                      </ol>
                  </column>
                  <column six>
                      <ol class="round">
                        <li>First item</li>
                        <li>Second item</li>
                        <li>Third item</li>
                      </ol>
                      <p class="mute">Add the class <em>round</em> to your list to show the numbers in circles.</p>
                  </column>
                </row>
          </column>
        </row>
      </section>
      <section class="container">
        <h3>Tables</h3>
        <row>
          <column six>
            <table>
              <caption>Example Table</caption>
              <thead>
                <tr>
                  <th>Table Header</th>
                  <th>Another Header</th>
                  <th>A Third One</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td>Footer content</td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>Data</td>
                  <td>More Data</td>
                  <td>Even more</td>
                </tr>
                <tr>
                  <td>Data</td>
                  <td>More Data</td>
                  <td>Even more</td>
                </tr>
                <tr>
                  <td>Data</td>
                  <td>More Data</td>
                  <td>Even more</td>
                </tr>
              </tbody>  
            </table>
          </column>
        </row>
      </section>
    </section>
    <section id="forms" ng-controller="Documentation as vm">
      <h2>Forms</h2>
              
      <section class="container">
        <h3>Inputs &amp; Textareas</h3>
        <row>
          <column twelve>
              <p>Inputs and Textareas are created with the <strong>&lt;form-section></strong>-element. You need to define whether it's an input or textarea you want with the field-attribute. You can use most of the attributes you normally would on an their respective tags, such as <em>type</em>, <em>disabled</em> or <em>placeholder</em>. You can also use most of the Angular-specific attributes for inputs, for example <em>ng-model</em> or validation. Note that validation will only work if your input is inside of a <em>form</em>-element with a name-attribute on it, or an element with the <em>ng-form</em>-attribute. Other attributes you can use are:</p>
            </column>
          </row>
          <row>
            <column four>
          <ul>
            <li><strong>field:</strong> <em>Important for the directive to work.</em> 'Input' or 'Textarea' for different elements.</li>
            <li><strong>label:</strong> What you want the label to say.</li>
            <li><strong>desc:</strong> If you want additional text under the label, for example detailing how the user should answer.</li>
            <li><strong>grid:</strong> True or false. Display the inputs and their labels next to instead of on top of each other.</li>
            <li><strong>id:</strong> Needed for label functionality.</li>
            <li><strong>icon:</strong> Which icon to add to the right side of the input.</li>
          </ul>
          </column>
            <column four>
              <form name="standard">
                  <fieldset>
                    <legend>Standard</legend>
                    <form-section 
                                  field="input"
                                  label="Password" 
                                  desc="At least 6 characters"
                                  id="pw1" 
                                  ng-required="true" 
                                  ng-minlength="6" 
                                  ng-maxlength="10"
                                  type="password"
                    ></form-section>
                    <form-section 
                                  field="input" 
                                  label="E-mail" 
                                  id="email" 
                                  type="email"
                    ></form-section>
                    
                    <form-section 
                                  field="textarea"
                                  label="Textarea"
                                  id="ta1"
                    ></form-section>

                </fieldset>
              </form>
            </column>
            <column four>
              <form name="grid">
                  <fieldset>
                    <legend>Grid</legend>
                    
                    <form-section 
                                  label="Text" 
                                  desc="Additional info" 
                                  icon="search" 
                                  id="in1"
                                  ng-required="true"
                                  grid="true"
                                  field="input"
                    ></form-section>
                    
                    <form-section 
                                  field="textarea"
                                  label="Textarea"
                                  id="ta2"
                                  grid="true"
                    ></form-section>
                      
                </fieldset>
              </form>
            </column>
          </row>
      </section>
      <section class="container">
        <h3>Radio Buttons and Checkboxes</h3>
        <row>
          <column twelve>
        <p>To make styling of these elements possible in the first place some CSS "hacks" are required. It is therefore recommended to start with these predefined directives and style them on your own from there if required. Instead of creating input-elements with different types you can now use the <strong>&lt;radio-button></strong> and <strong>&lt;checkbox></strong> elements. You can use the checked and disabled-attributes on these elements as you normally would, and they also work with ng-model.</p>
          </column>
        </row>
        <row>
          <column four>
              <ul>
                <li><strong>id:</strong> Needs to be provided in order for the buttons to work. Important to use a unique ID for the element.</li>
                <li><strong>label:</strong> What you want the label to say.</li>
              </ul>
          </column>
          <column four>
              <form name="radio">
                <fieldset>
                  <legend>Radio Buttons</legend>
                      <radio-button checked label="Option 1" id="op1" name="first_example" ng-model="vm.formData.radio"></radio-button>
                      <radio-button label="Option 2" id="op2" name="first_example" ng-model="vm.formData.radio"></radio-button>
                      <radio-button label="Option 3" id="op3" name="first_example" ng-model="vm.formData.radio"></radio-button>
                  </fieldset>
              </form>
          </column>
          <column four>
              <form name="check">
                  <fieldset>
                    <legend>Checkboxes</legend>
                    <checkbox label="Check 1" id="ch1" name="checkboxes" ng-model="vm.formData.value1" checked></checkbox>
                    <checkbox label="Check 2" id="ch2" name="checkboxes" ng-model="vm.formData.value2"></checkbox>
                    <checkbox label="Check 3" id="ch3" name="checkboxes" ng-model="vm.formData.value3"></checkbox>
                  </fieldset>
              </form>
          </column>
        </row>
      </section>
      <section class="container">
            <h3>Select</h3>
        <row>
          <column twelve>
            <p>You can use either regular select-elements (to the right) or the custom ones built for this Framework. Instead of select, you use the <strong>&lt;dropdown></strong>-element. The dropdown-element simulates a menu through lists, which allows for extensive styling and looks the same across different browsers, but it also contains a hidden regular select with all the values you might need for a form. You can use <em>multiple</em> or <em>disabled</em> as on a regular select-element.</p>
          </column>
        </row>
        <row>
          <column four>
              <ul>
                <li><strong>options:</strong> Must be provided to render anything. Should be an array of objects. The name-property is what will be displayed to the user.</li>
              </ul>
          </column>
          <column four>
            <fieldset>
              <legend>Custom</legend>
              <dropdown options="vm.options"></dropdown>
              <dropdown multiple options="vm.options"></dropdown>
            </fieldset>
          </column>
          <column four>
            <fieldset>
                <legend>Regular</legend>
                <select>
                  <option ng-repeat="option in vm.options">{{option.name}}</option>
                </select>
                <select multiple>
                  <option ng-repeat="option in vm.options">{{option.name}}</option>
                </select>
            </fieldset>
          </column>
        </row>
      </section>
    </section>
    <section id="grid">
      <h2>Grid</h2>
     <section class="container">
        <h3>Set width</h3>
        <p>This is a flexible grid system built upon <strong>Flexbox</strong>. This means it is only fully functional in browsers later than Internet Explorer 9. A Fallback solution is planned but not implemented. Simply create a <em>row</em>-element, and then populate it with <em>column</em>-elements. If you need it to take up a certain amount of width, add any number between one and twelve as an attribute. Twelve fills the entire row. If the total number of columns is higher than twelve, the columns will automatically be contained to that row rather than keep their intended width.</p>
        
        <row>
          <column class="code">
            <code>&lt;row>
                &lt;column one>One&lt;/column>
                &lt;column two>Two&lt;/column>
                &lt;column three>Three&lt;/column>
                &lt;column six>Six&lt;/column>
              &lt;/row>
            </code>
          </column>
          
          <column class="code">
            <code>&lt;row>
                &lt;column five>Five&lt;/column>
                &lt;column seven>Seven&lt;/column>
              &lt;/row>
            </code>
          </column>
          
          <column class="code">
            <code>&lt;row>
                &lt;column twelve>Twelve&lt;/column>
              &lt;/row>
            </code>
          </column>
        </row>

        <row>
          <column one class="grid">One</column>
          <column two class="grid">Two</column>
          <column three class="grid">Three</column>
          <column six class="grid">Six</column>
        </row>
        <row>
          <column five class="grid">Five</column>
          <column seven class="grid">Seven</column>
        </row>
        <row>
          <column twelve class="grid">Twelve</column>
        </row>
      </section>
      <section class="container">
        <h3>Dynamic Columns</h3>
        <p>If, however, you don't provide the columns with a number, they will adjust according to their content.</p>
        
        <row>
            <column class="code">
                <code>
                  &lt;row>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                  &lt;/row>
                </code>
          </column>
          
            <column class="code">
                <code>
                  &lt;row>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                    &lt;column>Dynamic&lt;/column>
                  &lt;/row>
                </code>
          </column>
        </row>

        <row>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
        </row>
        <row>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
          <column class="grid">Dynamic</column>
        </row>
    </section>
    </section>
    <section id="helpers">
      <h2>Helper Classes</h2>
      <section class="container">
        <row>
          <column four class="card">
            <h5>Responsive Embeds</h5>
            <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
            </div>
          <p>For easy ability to make a video embed responsive, surround your embed with a div of the class <em>video-wrapper</em>. The video will never take up more than the width of it's container.</p>
          </column>
          <column four class="card">
            <h5>Text</h5>
            <h6>Alignment</h6>
            <p>Use these classes for easy alignment of text.</p>
            <p class="text-left primary-bg">text-left</p>
            <p class="text-center primary-bg">text-center</p>
            <p class="text-right primary-bg">text-right</p>
            
            <h6>Color</h6>
            <p class="mute">You can use the <em>mute</em>-class for a more discrete color.</p>
            
            <h6>Size</h6>
            <p class="big">Use the <em>big</em>-class for a bigger font.</p>
            <p class="normal">Use the <em>normal</em>-class for the original fontsize.</p>
            <p class="small">Use the <em>small</em>-class for a smaller font.</p>
          </column>
          <column four class="card">
            <h5>Other</h5>
            <h6>Container</h6>
            <p>Add this class to a wrapping element to set a maximum width for your content. The width is determined in <em>theme.scss</em>.</p>
            <h6>Display</h6>
            <p>Add the <em>inline</em>, <em>inline-block</em> or <em>block</em> class to an element to easily display it as such.</p>
            <h6>Card</h6>
            <p>Each section on this row uses the card-class. This class adds a thin border around your content to separate it from the rest of the page.</p>
          </column>
        </row>
        <row>
          <column four class="card">
            <h5>Thumbnails</h5>
            <img src="img/image.jpg" class="thumbnail" alt="Thumbnail Image"/>
            <p>Add the <em>thumbnail</em>-class to an image for a discrete frame.</p>
          </column>
          <column four class="card">
            <h5>Quick Backgrounds</h5>
            <p>Use primary-bg, secondary-bg, contrast-bg or invert-bg to add a background with the theme colors to your element.</p>
            <p class="primary-bg">primary-bg</p>
            <p class="secondary-bg">secondary-bg</p>
            <p class="contrast-bg">contrast-bg</p>
            <p class="invert-bg">invert-bg</p>
          </column>
        </row>
        </section>
    </section>
    <section id="special-styles">
      <h2>Special Styles</h2>
      <section class="container">
        <row>
          <column four>
            <h4>Colored Words</h4>
            <p>This class adds a span element around every word within it. Be sure to use it only when the element contains nothing but text. Each span gets the class <em>color-span</em>, found in <em>_helpers.scss</em> and can be styled through that.</p>
            <h6 class="colored-words">Use colored-words to get this effect</h6>
          </column>
          <column four>
            <h4>Image Orientation</h4>
            If you add the attribute <em>get-orientation</em> on an image it will automatically get assigned a class depending on its orientation. If the width and height are equal, the image will get the class <strong>square</strong>. If the width is greater than the height, the image will get the class <strong>landscape</strong>. And finally, if the height is greater than the width, the image will be assigned the class <strong>portrait</strong>.
          </column>
        </row>
        </section>
    </section>
    <section id="mixins">
        <h2>Mixins</h2>
      <section class="container" id="mixins-basic">
        <h3>Basic</h3>
        <row>
          <column four>
            <h4>color-bg</h4>
            <p>Adds a background color to your element and calculates a readable text color for it. Supply the $color.</p>
          </column>
          <column four>
            <h4>circle</h4>
            <div class="circle primary-bg"></div>
            <p>Makes the element a circle. You can specify $width and $height, but if you don't the circle will be responsive and take up the width of the parent.</p>
          </column>
          <column four>
            <h4>Media Queries</h4>
            See and adjust the different breakpoints in <em>theme.scss</em>. The breakpoints are called <em>small</em>, <em>medium</em>, <em>desktop</em> and large. Instead of writing a full media query each time you need one you can just include <em>on</em> followed by the breakpoint-name, so for example special styling for medium devices would go into <em>onMedium()</em>, followed by brackets and the content.
          </column>
        </row>
      </section>
      <section class="container" id="mixins-containers">
          <h3>Containers</h3>
          <h4>colorArrow</h4>
          <p>Include this mixin to create a solid colored arrow on your containing element. Include the mixin in a pseudo class in your container, either before or after. This allows you to use up to two different arrows per element. The container needs to have <em>position:relative</em>.</p>
          <ul>
            <li><strong>$direction:</strong>Can be set to up, down, left or right. Defaults to down.</li>
            <li><strong>$color:</strong> Color of the arrow. Defaults to the primary theme color.</li>
            <li><strong>$bg:</strong> The background of the container to give a transparent effect. Defaults to the theme's background color.</li>
            <li><strong>$size:</strong> Size of the arrow. Defaults to 15px.</li>
            <li><strong>$pos:</strong> How far along the edge the arrow should appear in percent. Defaults to 50%.</li>
            <li><strong>$inverse:</strong> Can be set to true or false. Determines whether the arrow should point inwards or outwards, and can be used on containers with image backgrounds as well. Defaults to false.</li>
          </ul>
          <row class="text-center">
            <column two><div class="arrow up primary-bg"><p>up</p></div></column>
            <column two><div class="arrow down primary-bg"><p>down</p></div></column>
            <column two><div class="arrow left primary-bg"><p>left</p></div></column>
            <column two><div class="arrow right primary-bg"><p>right</p></div></column>
            <column two><div class="arrow up inverse primary-bg"><p>up inverse</p></div></column>
            <column two><div class="arrow down inverse bg"><p>down inverse</p></div></column>
          </row>
          <row class="text-center">
            <column two><div class="arrow left inverse primary-bg"><p>left inverse</p></div></column>
            <column two><div class="arrow right inverse primary-bg"><p>right inverse</p></div></column>
            <column two><div class="arrow up-down primary-bg"><p>before:up after:down</p></div></column>
            <column two><div class="arrow left-right-inv primary-bg"><p>before: left inverse</p><p>after: right inverse</p></div></column>
            <column two><div class="arrow left-up primary-bg"><p>before: left pos:15px</p><p>after: up pos:80%</p></div></column>
            <column two><div class="arrow right-double primary-bg"><p>before: right </p><p>after: right inverse</p></div></column>
          </row>                
          <row>
            <column twelve>
              <h4>imageArrow</h4>
              <p>If you're looking to make an inverse arrow please use the <em>colorArrow</em> mixin. However, if you are looking to create an arrow from a container with a background image, this is the mixin you should use. It's not as flexible and should <em>not</em> be included in a pseudo-class, it should rather be included in the containing element itself. Currently the arrow can only appear in the middle.</p>
          <ul>
            <li><strong>$direction:</strong>Can be set to up, down, left or right. Defaults to down.</li>
            <li><strong>$bg:</strong> The background of the container to give a transparent effect. Defaults to the theme's background color.</li>
            <li><strong>$size:</strong> Size of the arrow. Defaults to 15px.</li>
          </ul>
            </column>
          </row>
          
          <row class="text-center">
            <column three><div class="arrow-image up bg"><p>arrow-image up</p></div></column>
            <column three><div class="arrow-image down bg"><p>arrow-image down</p></div></column>
            <column three><div class="arrow-image left bg"><p>arrow-image left</p></div></column>
            <column three><div class="arrow-image right bg"><p>arrow-image right</p></div></column>
          </row>
          
          <row>
            <column twelve>
              <h4>slant</h4>
              <p>To get a fully slanted container include the <em>slant</em>-mixin. Insert your content into a div with the class <em>content</em> inside of your container for the content not to skew. To automatically surround everything within the container with the content-class, add the class <em>slanted</em> to your container. You can include the mixin in a class called <em>slanted</em> to make it simple.</p>
            <ul>
              <li><strong>$direction:</strong> Can be set to x or y. Defaults to y.</li>
              <li><strong>$deg:</strong> How many degrees to slant the container. Provided in pure numbers, not degrees. Defaults to 2.</li>
            </ul>
            </column>
          </row>
          <row class="text-center">
            <column three><div class="slanted primary-bg"><p>slant y 2</p></div></column>
            <column three><div class="slanted reverse bg"><p>slant y -2</p></div></column>
            <column three><div class="slanted x primary-bg"><p>slant x 2</p></div></column>
            <column three><div class="slanted x reverse bg"><p>slant x -2</p></div></column>
          </row>
          <row>
            <column twelve>
              <h4>slantEdge</h4>
              <p>To add a skewed edge in a solid color, include <em>slantEdge</em> in a pseudo class of your container, either before or after. This allows you to combine up to two different edges per element. The container needs to have <em>position:relative</em>.</p>
            <ul>
              <li><strong>$edge:</strong> Can be set to top, bottom, left or right. Defaults to top.</li>
              <li><strong>$deg:</strong> How many degrees to slant the edge. Provided in pure numbers, not degrees. Defaults to 2 and must be bigger than 1.</li>
              <li><strong>$color:</strong> Which color the added slant should appear in. Defaults to the theme's primary color.</li>
              <li><strong>$reverse:</strong> Can be set to true or false. Determines which way to slant the edge. Defaults to false.</li>
            </ul>
            </column>
          </row>
          <row class="text-center">
            <column three><div class="slant top primary-bg"><p>top</p></div></column>
            <column three><div class="slant bottom primary-bg"><p>bottom</p></div></column>
            <column three><div class="slant left primary-bg"><p>left</p></div></column>
            <column three><div class="slant right primary-bg"><p>right</p></div></column><column three><div class="slant left-bottom primary-bg"><p>before: left reverse</p><p>after: bottom</p></div></column>
            <column three><div class="slant double-top primary-bg"><p>before: top 5</p><p>after: top 5 reverse</p></div></column>
          </row>
          <row>
            <column twelve>
              <h4>slantImage</h4>
              <p>To add a skewed edge to a container with a background image, include <em>slantImage</em> directly in the container. Since some rules for the container are very important, the pseudo-class is instead determined by the parameters you enter.</p>
            <ul>
              <li><strong>$edge:</strong> Can be set to top, bottom, left or right. Defaults to top.</li>
              <li><strong>$deg:</strong> How many degrees to slant the edge. Provided in pure numbers, not degrees. Defaults to 5.</li>
              <li><strong>$bg:</strong> The color behind the container to simulate transparency. Defaults to the theme's background color.</li>
              <li><strong>$pseudo:</strong> Can be set to before or after. Determines which pseudo-element should contain the edge. Defaults to before.</li>
              <li><strong>$reverse:</strong> Can be set to true or false. Determines which way to slant the edge. Defaults to false.</li>
            </ul>
            </column>
          </row>
          <row class="text-center">
            <column three><div class="slanted-image top bg"><p>top</p></div></column>
            <column three><div class="slanted-image bottom bg"><p>bottom</p></div></column>
            <column three><div class="slanted-image right bg"><p>right</p></div></column>
            <column three><div class="slanted-image left reverse bg"><p>left reverse</p></div></column>
            <column three><div class="slanted-image right-left bg"><p>right 10 before</p><p>left 10 after</p></div></column>
            <column three><div class="slanted-image top-bottom bg"><p>top 10 before</p><p>bottom 10 after</p></div></column>
          </row>
          <row>
            <column twelve>
              <h4>fade</h4>
              <p>To add a fade to an edge, include <em>fade</em>.</p>
            <ul>
              <li><strong>$edge:</strong> Can be set to top, bottom, left or right. Defaults to top.</li>
              <li><strong>$size:</strong> How big the fade should be. Defaults to 30px.</li>
              <li><strong>$blur:</strong> How blurred the fade should be. Defaults to 10px.</li>
              <li><strong>$color:</strong> Which color the edge should fade into. Defaults to the theme's background color.</li>
            </ul>
            </column>
          </row>
          <row class="text-center">
            <column three><div class="fade top bg"><p>top</p></div></column>
            <column three><div class="fade bottom bg"><p>bottom</p></div></column>
            <column three><div class="fade left bg"><p>left</p></div></column>
            <column three><div class="fade right bg"><p>right</p></div></column>
          </row>
        </section>
      <section class="container" id="mixins-text">
          <h3>Text</h3>
          <row>
            <column four>
              <h4>headings</h4>
              <p>Style several headings at once using the <em>headings</em>-mixin. Specify from and to which number the rules should apply as parameters. <code class="code">@include headings(1, 3){color:red;}</code> for example would apply red to h1 through h3.</p>
              <ul>
                <li><strong>$from:</strong> From which heading the rules should apply. Defaults to 1.</li>
                <li><strong>$to:</strong> From which heading the rules should stop applying. Defaults to 6.</li>
              </ul>
            </column>
            <column four>
              <h4>lineThrough</h4>
              <p>Include <em>lineThrough</em> to get the effect of a line running behind your text. This will only work for text on one line.</p>
              <ul>
                <li><strong>$left:</strong> How far the left side of the line should go. Defaults to 45%.</li>
                <li><strong>$right:</strong> How far the right side of the line should go. Defaults to 45%.</li>
                <li><strong>$color:</strong> Which color the line should have. Defaults to $blend-color-low.</li>
                <li><strong>$thickness:</strong> How thick the line should be. Provided in pure numbers, not sizes. Defaults to 1.</li>
                <li><strong>$style:</strong> Which border style the line should have. Solid, dashed, dotted, ridge, groove and double work. Defaults to solid.</li>
              </ul>
              <h6 class="line">Line</h6>
              <h6 class="line-left">Line-left</h6>
              <h6 class="line-right">Line-right</h6>
            </column>
          </row>
        </section>
        <section class="container" id="mixins-other">
          <h3>Other</h3>
          <h4>cornerRibbon</h4>
          <p>Include this mixin on an element to make it appear as a ribbon in the corner of its parent. The parent should have position: relative and probably overflow: hidden.</p>
          <ul>
            <li><strong>$y:</strong>Can be set to top or bottom, defaults to top.</li>
            <li><strong>$x:</strong>Can be set to left or right, defaults to left.</li>
            <li><strong>$color:</strong> Color of the ribbon. Defaults to the primary theme color.</li>
          </ul>
          <row class="text-center">
            <column three>
              <div class="card">
                <p class="ribbon top-left">top left</p>
                <img src="img/image.jpg" class="thumbnail">
                <p>Example Text</p>
              </div>
            </column>
            <column three>
              <div class="card">
                <p class="ribbon top-right">top right</p>
                <img src="img/image.jpg" class="thumbnail">
                <p>Example Text</p>
              </div>
            </column>
            <column three>
              <div class="card">
                <p class="ribbon bottom-left">bottom left</p>
                <img src="img/image.jpg" class="thumbnail">
                <p>Example Text</p>
              </div>
            </column>
            <column three>
              <div class="card">
                <p class="ribbon bottom-right">bottom right</p>
                <img src="img/image.jpg" class="thumbnail">
                <p>Example Text</p>
              </div>
            </column>
          </row>
        </section>
      </section>
    <section id="galleries" ng-controller="GalleryController as gallery">
      <h2>Galleries</h2>
      <section class="container">
        <h4>Structure</h4>
        <p>There are several types of ready-made image galleries available. The common thing for each of them is that they require and <em>image</em>-attribute, where you supply an array of image-objects. Each object should have the properties <em>src</em> (the image source) and <em>alt</em> (alternative text for the image). You can also supply <em>desc</em> as a property, for a description of the image to show up along with it.</p>
        <h4>Modal Gallery</h4>
        <p>This is a standard gallery created with the tag <em>modal-gallery</em>. It will show all the images supplied in cropped divs, and if you click on a picture it's displayed in a modal. Five pictures will be shown on each row in desktop, and two on mobile.</p>
        <row>
          <column>
            <modal-gallery images="gallery.images"></modal-gallery>
          </column>
        </row>
        <h4>Slide Gallery</h4>
        <p>This gallery is created with the tag <em>slide-gallery</em>. You can provide a number to the attribute <em>previews</em> to determine how many preview images should be shown at the bottom. This gallery does not open a modal, instead it previews the picture selected above the previews. You can also browse the previews by using the arrow buttons next to them.</p>
        <row>
          <column>
            <slide-gallery images="gallery.images" previews="4"></slide-gallery>
          </column>
        </row>
        <h4>Masonry Gallery</h4>
        <p>This gallery is created with the tag <em>masonry-gallery</em>. Inspired by the popular masonry-layout, this gallery adds each image to a set width column and pile the images on top of each other despite orientation. You can add the attribute <em>columns</em> with a number, which will determine how many columns it will be split up into, default is three.</p>
        <row>
          <column>
            <masonry-gallery images="gallery.images"></masonry-gallery>
          </column>
        </row>
      </section>
    </section>
    <section id="carousel">
      <h2>Carousel</h2>
      <section class="container">
        <p>To create a carousel, use the <em>carousel</em>-tag. Then treat it like a list, where each <em>li</em> is a slide, containing whatever content and styling you like. Default height of the carousel is 350px, which can be overriden in CSS.</p>
        <carousel>
          <li>
            <h5>First slide in carousel</h5>
            <p>This is a paragraph.</p>
          </li>
          <li class="bg">
            <h5>Second slide</h5>
          </li>
          <li class="secondary-bg">
            <h5>Another slide</h5>
            <h6>Third slide in Carousel</h6>
          </li>
        </carousel>
      </section>
    </section>
     

        <!--inject:js-->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/directives/carousel.js"></script>
        <script src="/scripts/directives/forms.js"></script>
        <script src="/scripts/directives/galleries.js"></script>
        <script src="/scripts/directives/grid.js"></script>
        <script src="/scripts/directives/menus.js"></script>
        <script src="/scripts/directives/modal.js"></script>
        <script src="/scripts/directives/styles.js"></script>
        <!--endinject-->
  </body>
</html>