body{
  background-color: $background-color;
  color: $text-color;
}

h1{font-size: 4em;}
h2{font-size: 3.5em;}
h3{font-size: 3em;}
h4{font-size: 2.5em;}
h5{font-size: 2em;}
h6{font-size: 1.5em;}

h1, h2, h3, h4, h5, h6{
  margin: 15px 0;
}

a{
  color: $primary-color;
  &:hover{color: $highlight-primary;}
}

ul, ol{
  margin: 10px 0;
}

ul{
  li{
    padding: .6em;
    border-radius: .2em;
    margin: .2em 0;
    background-color: lighten($background-color, 10);
  }
  &.underline{
    li{
      border-radius: 0;
      background: none;
      border-bottom: 1px solid $primary-color;
    }
  }
}

ol{
  counter-reset: li;
  *list-style: decimal;
  margin-left: 1em;
  ol{margin-left: 2.5em;}
  li{
    padding: .6em .6em .6em 2.5em;
    margin: .2em 0;
    position: relative;
    border-radius: .2em;
    background-color: lighten($background-color, 10);
  }
  li:before{
    content: counter(li);
    counter-increment: li;
    background-color: $primary-color;
    position: absolute;
    left: -0.8em;
    top: 50%;
    margin-top: -1.1em;
    padding: 1.7px;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-right: $background-color .3em solid;
  }
  &.round li:before{
    left: -1em;
    margin-top: -1.3em;
    padding: 1px;
    border-radius: 50%;
    border: $background-color .3em solid;
  }
}