*{box-sizing: border-box;}

html{
  font-size: $font-base-size;
}

body{
  background-color: $background-color;
  color: $text-color;
}

/* HEADINGS */
h1{font-size: 4em;}
h2{font-size: 3.5em;}
h3{font-size: 3em;}
h4{font-size: 2.5em;}
h5{font-size: 2em;}
h6{font-size: 1.5em;}

h1, h2, h3, h4, h5, h6{
  margin: 15px 0;
}

/* LINKS */
a{
  color: $primary-color;
  &:hover{color: $highlight-primary;}
}

/* BUTTONS */
button{
  background-color: $blend-color-high;
  padding: 10px 20px;
  border-radius: 3px;
  transition: .3s;
  &:active{
    background-color: darken($blend-color-high, 10);
  }
  &.primary{
    @include color-bg($primary-color);
    &:active{background-color: $darker-primary;}
  }
  &.secondary{
    @include color-bg($secondary-color);
    &:active{background-color: $darker-secondary;}
  }
  &.contrast{
    @include color-bg($contrast-color);
    &:active{background-color: $darker-contrast;}
  }
  &:disabled{
    background: none;
    border: $border-width solid $blend-color-high;
    color: $blend-color-low;
    cursor: not-allowed;
  }
}

/* LISTS */
ul, ol{
  margin: 10px 0;
}

ul{
  li{
    padding: .6em;
    border-radius: .2em;
    margin: .2em 0;
    background-color: $blend-color-high;
  }
  &.underline{
    li{
      border-radius: 0;
      background: none;
      border-bottom: $border-width solid $primary-color;
    }
  }
}

ol{
  counter-reset: li;
  *list-style: decimal;
  margin-left: 1em;
  ol{margin-left: 2.5em;}
  li{
    padding: .6em .6em .6em 2.5em;
    margin: .2em 0;
    position: relative;
    border-radius: .2em;
    background-color: $blend-color-high;
  }
  li:before{
    @include color-bg($primary-color);
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.8em;
    top: 50%;
    margin-top: -1.1em;
    padding: 1.7px;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-right: $background-color .3em solid;
  }
  &.round li:before{
    left: -1em;
    margin-top: -1.3em;
    padding: 1px;
    border-radius: 50%;
    border: $background-color .3em solid;
  }
}

/* FORMS */

@mixin input-buttons($bradius) {
    display:none;
    & + label span{
      vertical-align: text-bottom;
      display: inline-block;
      border: $border-width solid $blend-color-high;
      border-radius: $bradius;
      background-color: #ffffff;
      cursor: pointer;
      svg{
        fill: $primary-color;
        stroke: $darker-primary;
        stroke-miterlimit:10;
        display: none;
      }
    }
    &:checked + label span svg{
      display: block;
    }
    &:disabled + label span{
      background-color: $blend-color-high;
      cursor: not-allowed;
    }
}

input.ng-invalid.ng-touched{
  border: 1px solid $error-color;
}

input, textarea, fieldset, select{
  margin-bottom: 10px;
  font-family: $main-font;
}

input, textarea, select{
  border-radius: 5px;
  border: $border-width solid $blend-color-high;
  padding: 10px;
  width: 100%;
  font-size: $font-base-size;
  font-family: $main-font;
  
  &:disabled{
    background-color: $blend-color-high;
    cursor: not-allowed;
  }
}

.dropdown{
  position: relative;
  height: 47px;
  ul{
    @extend input;
    background-color: #fff;
    padding: 0;
    cursor: default;
    &.disabled{
      background-color: $blend-color-high;
      cursor: not-allowed;
      li:first-child{color: $blend-color-low;}
      svg{fill: $blend-color-low;}
    }
    li{
      margin: 0;
      background: none;
      border-radius: 0;
      &:hover, &.active{
        @include color-bg($highlight-primary);
      }
      &:first-child{
        color: $text-color;
        position: relative;
        &:hover{
          background:none;
        }
      }
    label{
      position: absolute;
      top: 35%;
      right: 3%;
      height: 15px;
      width: 15px;
      z-index: 1;
      svg{
        fill: $primary-color;
      }
    }
    }
  }
  select{
      display: none;
  }
}

.multiple{
  select{
    display: none;
  }
  ul{
    @extend select;
    background: #fff;
    display: block;
    &.disabled{
      background-color: $blend-color-low;
      color: $blend-color-low;
      li{cursor: not-allowed;}
    }
    li{
      background: none;
      border-radius: 0;
      cursor: pointer;
      margin: 0;
      &.active{
        @include color-bg($blend-color-high);
      }
      &.selected{
        @include color-bg($highlight-primary);
      }
      &.selected.active{
        @include color-bg($primary-color);
      }
    }
  }
}

input[type="checkbox"]{
  @include input-buttons(3px);
  & + label span {
    width: 19px;
    height: 19px;
    svg{
      height: 20px;
      width: 20px;
      margin-top: -4px;
      margin-left: 0px;
    }
  }
}

input[type="radio"]{
  @include input-buttons(50%);
  & + label span{
    width: 19px;
    height: 19px;
    padding: 2px;
  }
}

input[type="button"]{
  @extend button;
}

textarea{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-family: $main-font;
}
fieldset{
  border-radius: 5px;
  border-color: $blend-color-high;
  border-style: solid;
  border-width: $border-width;
  legend{
    margin-bottom: 10px;
    padding: 0 10px;
    color: $blend-color-low;
  }
}

.form-section{
  &.row input, textarea, fieldset{
    margin: 0;
  }
  position: relative;
  label{
    display: block;
    margin-bottom: 10px;
    span.info{
      display: block;
      font-size: 0.8em;
      color: $blend-color-low;
    }
  }
  .error{
    p{
      color: $error-color;
      margin-bottom: 15px;
    }
  }
}

.input{
  position: relative;
  
  &.icon-padding input{
    padding-right: 20px;
  }

/*  &:after{
    display: block;
    position: absolute;
    top: 40%;
    right: 10px;
  }

  &.required:after{
    content: "*";
  }*/
}