.text-right{text-align: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}

.mute{color: $blend-color-low;}
.big{font-size: 1.4em;}
.normal{font-size:1em;}
.small{font-size:0.8em;}

.inline-block{
  display: inline-block;
  margin: 5px;
}

.container{max-width: $container-width; margin: 0 auto; padding: 0 10px;}

.color-span{
  @include color-bg($primary-color); 
  padding: 5px 10px; 
  line-height: 1.9em;
  .contrast &{
    @include color-bg($contrast-color);
  }
  .secondary &{
    @include color-bg($contrast-color);
  }
}
.line{@include line-through(45%, 45%);}
.line-left{@include line-through(0, 100%);}
.line-right{@include line-through(100%, 0);}

.primary-bg{@include color-bg($primary-color); padding: 10px 5px;}
.secondary-bg{@include color-bg($secondary-color); padding: 10px 5px;}
.contrast-bg{@include color-bg($contrast-color); padding: 10px 5px;}
.invert-bg{@include color-bg($text-color); padding: 10px 5px;}

.card{
  box-shadow: 0px 1px 2px fade-out($blend-color-low, 0.8);
  border-radius: 5px;
  border: $border-width solid $blend-color-high;
}

.video-wrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.arrow{
  padding: 15px;
  position: relative;
  &.up:after{
    @include colorArrow(up); 
  }
  &.down:after{
    @include colorArrow(down); 
  }
  &.left:after{
    @include colorArrow(left); 
  }
  &.right:after{
    @include colorArrow(right); 
  }
  &.up.inverse:after{
    @include colorArrow(up, $inverse: true); 
  }
  &.down.inverse:after{
    @include colorArrow(down, $inverse: true); 
  }
  &.left.inverse:after{
    @include colorArrow(left, $inverse: true); 
  }
  &.right.inverse:after{
    @include colorArrow(right, $inverse: true); 
  }
}

.arrow-image{
  padding: 15px;
  &.up{
    @include imageArrow(up);
  };
  &.down{
    @include imageArrow(down);
  };
  &.left{
    @include imageArrow(left);
  };
  &.right{
    @include imageArrow(right);
  }
}

.slanted{
  @include slant(y, 2);
  &.reverse{
    @include slant(y, -2);
  }
  &.x{
    @include slant(x, -2);
  }
  &.x.reverse{
    @include slant(x, 2);
  }
  
}
.slant{
  position: relative;
  padding: 15px;
  &.top:before{
    @include slant-edge();
  }
  &.bottom:before{
    @include slant-edge(bottom);
  }
  &.left:before{
    @include slant-edge(left);
  }
  &.right:before{
    @include slant-edge(right);
  }
}

.slanted-image{
  @include slant-image();
}