nav{
  a{
    color: inherit;
    &:hover{color: inherit;}
  }
  span{
    cursor: pointer;
  }
  i{
    font-size: 0.8em;
  }
  ul{
    margin: 0;
    li{
      background: none;
      transition: .3s;
      position: relative;
      border-radius: 0;
      margin: 0;
      &:hover{
        background: rgba(255,255,255,0.3);
      }
      ul{
        text-align: left;
      }
    }
  }
  &.horizontal{
    width: 100%;
    ul{
      position: relative;
      li{
        padding: 10px 20px;
        position: relative;
        display: inline-block;
        ul{
          transition: .5s;
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 100%;
          border-radius: 0 0 3px 3px;
          li{
            display: block;
            &:first-child{
                box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3) inset;
            }
          }
        }
        ul.hover{
          max-height: 0;
          overflow: hidden;
        }

        &:hover{
          @include onMedium(){
            ul.hover{max-height: 200px;}
          }
        }
      }
    }
  }
  &.vertical{
    max-width: 200px;
    ul{
      li{
        ul{
          li{
            text-indent: 1em;
            margin: 0 -0.6em -0.6em -0.6em;
            &:before{
              content: '- ';
            }
          }
        }
      }
    }
  }
  
  &.fixed{
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    &.vertical{
      top: 0;
      bottom: 0;
    }
    &.vertical.right{
      left: auto;
      right: 0;
    }
  }
}

.hamburger-container{
  $size: 45px;
  text-align: left;
  position: relative;
  width: 100%;
  
  .menu{
    ul{
      .horizontal &{
          transition: 1s;
          margin-left: -400%;
          @include onMedium(){
            transition: .5s;
            margin-left: -200%;
          }
      }
      .vertical &{
        transition: .5s;
        margin-left: -200%;
      }
    }
  }
  
  &.active{
    .menu{
      ul{
        margin-left: 0;
      }
    }
  }
  
  .horizontal &{
    display: table;
    table-layout: fixed;
    
    button, .menu{
      display: table-cell;
    }
    
    .menu{
      width: 95%;
      vertical-align: middle;
    }
  }
  
  .vertical & {
    .menu{
      overflow-x: hidden;
      li:hover{
        background: none;
      }
    }
    &.active{
      li:hover{
        background: rgba(255,255,255,0.3);
      }
    }
  }
  
.hamburger{
  background: none;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: $size;
  height: $size;
  font-size: 0;
  padding: 5px;
  text-indent: -9999px;
  z-index: 10;
  vertical-align: middle;
  &:focus {box-shadow: none;}
  &:hover{background: inherit;}
  &:active{background: inherit;}
  
  span{
    display: block;
    position: relative;
    top: 50%;
    left: 15%;
    right: 15%;
    height: floor($size / 10);
    background: $text-color;
    
    &:before, &:after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: floor($size / 10);
      background-color: $text-color;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.1s, 0s;
    }
    
    &:before{
      top: -(floor($size / 4));
      transition-property: top, transform;
    }
    &:after{
      bottom: -(floor($size / 4));
      transition-property: bottom, transform;
    }
  }
  
  &.active{
    span{
      background: none;
      &:before{
        top: 0;
        transform: rotate(45deg);
      }
      &:after{
        bottom: 0;
        transform: rotate(-45deg);
      }
      &:before, &:after{
      }
    }
  }
}
}
