@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 1;}
}
.modal{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0; 
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 300;
  padding-top: 100px;
  text-align: center;
  animation: fade-in .2s;
  
  .modal-content{
    text-align: center;
    display: inline-block;
    margin: auto;
    max-width: 800px;
    position: relative;
    color: white;
    div{
      line-height: 0.8;
    }
    .close-modal, .next, .previous{
      opacity: 0.4;
      &:hover{
        opacity: 1;
      }
    }
    .close-modal{
      position: absolute;
      top: -1em;
      right: 0;
      cursor: pointer;
    }
    .next, .previous{
      font-size: 2em;
      position: absolute;
      top: 50%;
      cursor: pointer;
    }
    .next{
      right: -1em;
    }
    .previous{
      left: -1em;
    }
    img{
      border: $border-width solid #4a4a4a;
    }
  }
}