/* Colors */
$background-color: #f5f5f5;
$text-color: #101010;
$primary-color: #0084bf;
$secondary-color: #68af4e;

$error-color: #b20000;
$error-bg: mix($background-color, $error-color, 90);

/* Calculated Colors */
$contrast-color: invert($primary-color);
$blend-color-high: mix($background-color, $text-color, 90);
$blend-color-low: mix($background-color, $text-color, 60);

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin,latin-ext);
$main-font: sans-serif;
$heading-font: 'Raleway', sans-serif;
$heading-weight: 600;
$font-base-size: 16px;

/* Borders */
$border-width: 1px;

/* Container Width */
$container-width: 1200px;

/* Breakpoints */
$small: 480px;
$medium: 768px;
$desktop: 992px;
$large: 1200px;