/* Colors */
/* Calculated Colors */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin,latin-ext);
/* Borders */
/* Container Width */
/* Breakpoints */
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* MEDIA QUERIES */
/* HELPERS */
/* BUTTON STYLES */
/* STYLE MIXINS */
/* Minimal normalize/reset-styling provided by Jayden Seric, http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

strong {
  font-weight: bold; }

a,
button,
input[type="button"],
.dropdown ul[type="button"] {
  color: inherit; }

a {
  text-decoration: none; }

button, input[type="button"], .dropdown ul[type="button"] {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #dedede; }

::-moz-selection {
  background-color: #0084bf;
  color: #fff; }

::selection {
  background-color: #0084bf;
  color: #fff; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

video {
  max-width: 100%;
  height: auto; }

.row .col {
  margin: 10px 0;
  padding: 10px; }
@media screen and (min-width: 768px) {
  .row {
    display: table;
    table-layout: fixed;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: start;
            justify-content: flex-start;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
            align-items: stretch; }
    .row.to-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
    .row.item-align-center {
      -webkit-box-pack: center;
              justify-content: center; }
    .row.item-align-right {
      -webkit-box-pack: end;
              justify-content: flex-end; }
    .row.item-align-spread {
      justify-content: space-around; }
    .row.item-valign-top {
      align-content: flex-start; }
    .row.item-valign-bottom {
      align-content: flex-end; }
    .row.item-valign-middle {
      align-content: center; }
    .row.item-valign-baseline {
      align-content: baseline; }
    .row .col {
      -webkit-box-flex: 1;
              flex-grow: 1;
      min-height: 1px;
      display: table-cell;
      display: -webkit-box;
      display: flex; }
      .row .col:first-child {
        padding-left: 0; }
      .row .col:last-child {
        padding-right: 0; }
      .row .col.one {
        width: 8.33333%;
        max-width: 8.33333%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.two {
        width: 16.66667%;
        max-width: 16.66667%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.three {
        width: 25%;
        max-width: 25%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.four {
        width: 33.33333%;
        max-width: 33.33333%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.five {
        width: 41.66667%;
        max-width: 41.66667%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.six {
        width: 50%;
        max-width: 50%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.seven {
        width: 58.33333%;
        max-width: 58.33333%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.eight {
        width: 66.66667%;
        max-width: 66.66667%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.nine {
        width: 75%;
        max-width: 75%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.ten {
        width: 83.33333%;
        max-width: 83.33333%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.eleven {
        width: 91.66667%;
        max-width: 91.66667%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col.twelve {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0; }
      .row .col > div {
        padding: 10px;
        -webkit-box-flex: 1;
                flex: 1; } }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.mute {
  color: #999999; }

.big {
  font-size: 1.4em; }

.normal {
  font-size: 1em; }

.small {
  font-size: 0.8em; }

.block {
  display: block; }

.inline-block {
  display: inline-block;
  margin: 5px; }

.inline {
  display: inline; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.color-span {
  background-color: #0084bf;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.9em; }
  .contrast .color-span {
    background-color: #ff7b40;
    color: #fff; }
  .secondary .color-span {
    background-color: #ff7b40;
    color: #fff; }

.primary-bg {
  background-color: #0084bf;
  color: #fff;
  padding: 10px 5px; }

.secondary-bg {
  background-color: #68af4e;
  color: #fff;
  padding: 10px 5px; }

.contrast-bg {
  background-color: #ff7b40;
  color: #fff;
  padding: 10px 5px; }

.invert-bg {
  background-color: #101010;
  color: #fff;
  padding: 10px 5px; }

.card {
  border-radius: 5px;
  border: 1px solid #dedede; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.thumbnail {
  background-color: #fefefe;
  border: #e5e5e5 1px solid;
  padding: 10px; }

.snap-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }

* {
  box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 100%; }

body, html {
  height: 100%; }

body {
  font-size: 14px;
  background-color: #f5f5f5;
  color: #101010; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px; } }

/* TEXT */
h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

h1 {
  margin: 15px 0;
  font-weight: 600; }

h2 {
  margin: 15px 0;
  font-weight: 600; }

h3 {
  margin: 15px 0;
  font-weight: 600; }

h4 {
  margin: 15px 0;
  font-weight: 600; }

h5 {
  margin: 15px 0;
  font-weight: 600; }

h6 {
  margin: 15px 0;
  font-weight: 600; }

p {
  margin: 10px 0;
  line-height: 1.5em; }

/* LINKS */
a {
  color: #0084bf; }
  a:hover {
    color: #00a7f2; }

/* BUTTONS */
button, input[type="button"], .dropdown ul[type="button"] {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #dedede;
  color: #5f5f5f; }
  button:hover, input[type="button"]:hover, .dropdown ul[type="button"]:hover {
    background-color: #d1d1d1; }
  button:active, input[type="button"]:active, .dropdown ul[type="button"]:active {
    background-color: #b8b8b8; }
  button.primary, input.primary[type="button"], .dropdown ul.primary[type="button"] {
    background-color: #0084bf;
    color: #fff; }
    button.primary:hover, input.primary[type="button"]:hover, .dropdown ul.primary[type="button"]:hover {
      background-color: #0072a6; }
    button.primary:active, input.primary[type="button"]:active, .dropdown ul.primary[type="button"]:active {
      background-color: #004f73; }
  button.secondary, input.secondary[type="button"], .dropdown ul.secondary[type="button"] {
    background-color: #68af4e;
    color: #fff; }
    button.secondary:hover, input.secondary[type="button"]:hover, .dropdown ul.secondary[type="button"]:hover {
      background-color: #5e9d46; }
    button.secondary:active, input.secondary[type="button"]:active, .dropdown ul.secondary[type="button"]:active {
      background-color: #497a36; }
  button.contrast, input.contrast[type="button"], .dropdown ul.contrast[type="button"] {
    background-color: #ff7b40;
    color: #fff; }
    button.contrast:hover, input.contrast[type="button"]:hover, .dropdown ul.contrast[type="button"]:hover {
      background-color: #ff6927; }
    button.contrast:active, input.contrast[type="button"]:active, .dropdown ul.contrast[type="button"]:active {
      background-color: #f34b00; }
  button:disabled, input[type="button"]:disabled, .dropdown ul[type="button"]:disabled {
    background: none;
    border: 1px solid #dedede;
    color: #999999;
    cursor: not-allowed; }

/* LISTS */
ul, ol {
  margin: 10px 0; }

ul li {
  padding: .6em;
  border-radius: .2em;
  margin: .2em 0;
  background-color: #dedede; }
ul.underline li {
  border-radius: 0;
  background: none;
  border-bottom: 1px solid #0084bf; }

ol {
  counter-reset: li;
  *list-style: decimal;
  margin-left: 1em; }
  ol ol {
    margin-left: 2.5em; }
  ol li {
    padding: .6em .6em .6em 2.5em;
    margin: .2em 0;
    position: relative;
    border-radius: .2em;
    background-color: #dedede; }
  ol li:before {
    background-color: #0084bf;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.8em;
    top: 50%;
    margin-top: -1.1em;
    padding: 1.7px;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-right: #f5f5f5 0.3em solid; }
  ol.round li:before {
    left: -1em;
    margin-top: -1.3em;
    padding: 1px;
    border-radius: 50%;
    border: #f5f5f5 0.3em solid; }

/* FORMS */
input, .dropdown ul, textarea, fieldset, select, .multiple ul {
  margin-bottom: 10px;
  font-family: sans-serif; }

/* Input, Textarea */
input, .dropdown ul, textarea, select, .multiple ul {
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  font-family: sans-serif; }
  input:disabled, .dropdown ul:disabled, textarea:disabled, select:disabled, .multiple ul:disabled {
    background-color: #dedede;
    cursor: not-allowed; }
  input.ng-invalid.ng-touched, .dropdown ul.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched, .multiple ul.ng-invalid.ng-touched {
    border: 1px solid #b20000; }

textarea {
  min-height: 100px;
  resize: vertical; }

.form-section {
  position: relative; }
  .form-section.row input, .form-section.row .dropdown ul, .dropdown .form-section.row ul, .form-section.row textarea, .form-section.row fieldset {
    margin: 0; }
  .form-section label {
    display: block;
    margin-bottom: 10px; }
    .form-section label span.info {
      display: block;
      font-size: 0.8em;
      color: #999999; }
  .form-section .error p {
    color: #b20000;
    margin-bottom: 15px; }
  .form-section .input {
    position: relative; }
    .row .col .form-section .input {
      padding: 0; }
    .form-section .input.iconpadding input, .form-section .input.iconpadding .dropdown ul, .dropdown .form-section .input.iconpadding ul, .form-section .input.iconpadding textarea {
      padding-right: 2.5em; }
    .form-section .input i {
      position: absolute;
      font-size: 1.3em;
      top: 0.5em;
      right: 0.5em;
      color: #dedede; }

/* Fieldset */
fieldset {
  border-radius: 5px;
  border-color: #dedede;
  border-style: solid;
  border-width: 1px; }
  fieldset legend {
    margin-bottom: 10px;
    padding: 0 10px;
    color: #999999; }

/* Select */
.dropdown {
  position: relative;
  height: 47px; }
  .dropdown ul {
    background-color: #fff;
    padding: 0;
    cursor: default; }
    .dropdown ul.disabled {
      background-color: #dedede;
      cursor: not-allowed; }
      .dropdown ul.disabled li:first-child {
        color: #999999; }
      .dropdown ul.disabled svg {
        fill: #999999; }
    .dropdown ul li {
      margin: 0;
      background: none;
      border-radius: 0; }
      .dropdown ul li:hover, .dropdown ul li.active {
        background-color: #00a7f2;
        color: #fff; }
      .dropdown ul li:first-child {
        color: #333;
        position: relative; }
        .dropdown ul li:first-child:hover {
          background: none; }
      .dropdown ul li label {
        position: absolute;
        top: 25%;
        right: 4%;
        height: 15px;
        width: 15px;
        z-index: 1; }
        .dropdown ul li label i {
          font-size: 1.2em;
          color: #0084bf; }
  .dropdown select, .dropdown .multiple ul, .multiple .dropdown ul {
    display: none; }

.multiple select, .multiple ul {
  display: none; }
.multiple ul {
  background: #fff;
  display: block;
  color: #333; }
  .multiple ul.disabled {
    background-color: #dedede;
    color: #999999; }
    .multiple ul.disabled li {
      cursor: not-allowed; }
  .multiple ul li {
    background: none;
    border-radius: 0;
    cursor: pointer;
    margin: 0; }
    .multiple ul li.active {
      background-color: #dedede;
      color: #5f5f5f; }
    .multiple ul li.selected {
      background-color: #00a7f2;
      color: #fff; }
    .multiple ul li.selected.active {
      background-color: #0084bf;
      color: #fff; }

/* Radio Buttons and Checkboxes */
input[type="checkbox"], .dropdown ul[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="checkbox"] + label span svg, .dropdown ul[type="checkbox"] + label span svg, input[type="checkbox"] + label span i, .dropdown ul[type="checkbox"] + label span i {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="checkbox"]:checked + label span svg, .dropdown ul[type="checkbox"]:checked + label span svg, input[type="checkbox"]:checked + label span i, .dropdown ul[type="checkbox"]:checked + label span i {
    display: block; }
  input[type="checkbox"]:disabled + label span, .dropdown ul[type="checkbox"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    border-radius: 3px;
    width: 19px;
    height: 19px; }
    input[type="checkbox"] + label span i, .dropdown ul[type="checkbox"] + label span i {
      font-size: 18px;
      color: #0084bf;
      margin-top: -3px;
      margin-left: 1px; }

input[type="radio"], .dropdown ul[type="radio"] {
  display: none; }
  input[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="radio"] + label span svg, .dropdown ul[type="radio"] + label span svg, input[type="radio"] + label span i, .dropdown ul[type="radio"] + label span i {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="radio"]:checked + label span svg, .dropdown ul[type="radio"]:checked + label span svg, input[type="radio"]:checked + label span i, .dropdown ul[type="radio"]:checked + label span i {
    display: block; }
  input[type="radio"]:disabled + label span, .dropdown ul[type="radio"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    border-radius: 50%;
    width: 19px;
    height: 19px;
    padding: 2px; }

/* Submit */
/* TABLES */
table {
  text-align: left;
  border-spacing: 0; }
  table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    color: #999999;
    font-weight: normal; }
  table thead th, table thead td {
    background-color: #0084bf;
    color: #fff;
    font-weight: normal; }
  table th, table td {
    padding: 15px;
    border-bottom: 1px #dedede solid; }
  table tfoot {
    color: #999999; }
    table tfoot th, table tfoot td {
      border: none; }
    table tfoot tr:hover {
      background: none; }
  table tr:nth-child(even) {
    background: #ececec; }

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  padding-top: 50px;
  text-align: center;
  -webkit-animation: fade-in .2s;
          animation: fade-in .2s; }
  @media screen and (min-width: 768px) {
    .modal-overlay {
      padding-top: 100px; } }
  .modal-overlay .modal-wrapper {
    text-align: center;
    display: inline-block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    color: white; }
    @media screen and (min-width: 992px) {
      .modal-overlay .modal-wrapper {
        max-width: 800px; } }
    .modal-overlay .modal-wrapper div {
      max-height: 100%;
      height: 100%; }
    .modal-overlay .modal-wrapper .close-modal, .modal-overlay .modal-wrapper .next, .modal-overlay .modal-wrapper .previous {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
      opacity: 0.4; }
      .modal-overlay .modal-wrapper .close-modal:active, .modal-overlay .modal-wrapper .close-modal:focus, .modal-overlay .modal-wrapper .next:active, .modal-overlay .modal-wrapper .next:focus, .modal-overlay .modal-wrapper .previous:active, .modal-overlay .modal-wrapper .previous:focus {
        box-shadow: none; }
      .modal-overlay .modal-wrapper .close-modal:hover, .modal-overlay .modal-wrapper .next:hover, .modal-overlay .modal-wrapper .previous:hover {
        opacity: 1; }
    .modal-overlay .modal-wrapper .close-modal {
      position: absolute;
      top: -1em;
      right: 0;
      cursor: pointer; }
    .modal-overlay .modal-wrapper .next, .modal-overlay .modal-wrapper .previous {
      font-size: 2em;
      position: absolute;
      top: 50%;
      cursor: pointer; }
    .modal-overlay .modal-wrapper .next {
      right: -1em; }
    .modal-overlay .modal-wrapper .previous {
      left: -1em; }
    .modal-overlay .modal-wrapper img {
      border: 1px solid #4a4a4a;
      max-height: 100%; }

nav a {
  color: inherit; }
  nav a:hover {
    color: inherit; }
nav span {
  cursor: pointer; }
nav i {
  font-size: 0.8em; }
nav ul {
  margin: 0;
  max-width: none; }
  nav ul li {
    background: none;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    border-radius: 0;
    margin: 0; }
    nav ul li:hover {
      background: rgba(255, 255, 255, 0.3); }
    nav ul li ul {
      text-align: left; }
nav.horizontal {
  width: 100%; }
  nav.horizontal ul {
    position: relative; }
    nav.horizontal ul li {
      padding: 10px 20px;
      position: relative;
      display: inline-block; }
      nav.horizontal ul li ul {
        -webkit-transition: .5s;
        transition: .5s;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        border-radius: 0 0 3px 3px; }
        nav.horizontal ul li ul li {
          display: block; }
          nav.horizontal ul li ul li:first-child {
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3) inset; }
      nav.horizontal ul li ul.hover {
        max-height: 0;
        overflow: hidden; }
      @media screen and (min-width: 768px) {
        nav.horizontal ul li:hover ul.hover {
          max-height: 200px; } }
nav.vertical {
  max-width: 200px; }
  nav.vertical ul li ul li {
    text-indent: 1em;
    margin: 0 -0.6em -0.6em -0.6em; }
    nav.vertical ul li ul li:before {
      content: '- '; }
nav.fixed {
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed; }
  nav.fixed.vertical {
    top: 0;
    bottom: 0; }
  nav.fixed.vertical.right {
    left: auto;
    right: 0; }

.hamburger-container {
  text-align: left;
  position: relative;
  width: 100%; }
  .horizontal .hamburger-container .menu ul {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: -400%; }
    @media screen and (min-width: 768px) {
      .horizontal .hamburger-container .menu ul {
        -webkit-transition: .5s;
        transition: .5s;
        margin-left: -200%; } }
  .vertical .hamburger-container .menu ul {
    -webkit-transition: .5s;
    transition: .5s;
    margin-left: -200%; }
  .hamburger-container.active .menu ul {
    margin-left: 0; }
  .horizontal .hamburger-container {
    display: table;
    table-layout: fixed; }
    .horizontal .hamburger-container button, .horizontal .hamburger-container input[type="button"], .horizontal .hamburger-container .dropdown ul[type="button"], .dropdown .horizontal .hamburger-container ul[type="button"], .horizontal .hamburger-container .menu {
      display: table-cell; }
    .horizontal .hamburger-container .menu {
      width: 95%;
      vertical-align: middle; }
  .vertical .hamburger-container .menu {
    overflow-x: hidden; }
    .vertical .hamburger-container .menu li:hover {
      background: none; }
  .vertical .hamburger-container.active li:hover {
    background: rgba(255, 255, 255, 0.3); }
  .hamburger-container .hamburger {
    background: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 45px;
    height: 45px;
    font-size: 0;
    padding: 5px;
    text-indent: -9999px;
    z-index: 10;
    vertical-align: middle; }
    .hamburger-container .hamburger:focus {
      box-shadow: none; }
    .hamburger-container .hamburger:hover {
      background: inherit; }
    .hamburger-container .hamburger:active {
      background: inherit; }
    .hamburger-container .hamburger span {
      display: block;
      position: relative;
      height: 4px;
      background: #101010; }
      .hamburger-container .hamburger span:before, .hamburger-container .hamburger span:after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #101010;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.1s, 0s;
                transition-delay: 0.1s, 0s; }
      .hamburger-container .hamburger span:before {
        top: -11px;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform; }
      .hamburger-container .hamburger span:after {
        bottom: -11px;
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform; }
    .hamburger-container .hamburger.active span {
      background: none; }
      .hamburger-container .hamburger.active span:before {
        top: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .hamburger-container .hamburger.active span:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }

.gallery .gallery-item {
  display: inline-block;
  overflow: hidden;
  padding: 5px; }
  .gallery .gallery-item:first-child {
    padding-left: 0; }
  .gallery .gallery-item:last-child {
    padding-right: 0; }
  .gallery .gallery-item img {
    cursor: pointer; }
  .gallery .gallery-item:hover img {
    opacity: 0.8; }
  .gallery .gallery-item div {
    width: 100%;
    height: 100%;
    background-position: center center;
    overflow: hidden; }
    .gallery .gallery-item div img {
      max-width: none;
      max-height: none; }
      .gallery .gallery-item div img.portrait {
        width: 100%;
        height: auto; }
      .gallery .gallery-item div img.landscape {
        height: 100%;
        width: auto; }
.gallery.modal-g {
  text-align: left; }
  .gallery.modal-g .gallery-item {
    cursor: pointer;
    width: 50%;
    height: 200px; }
    @media screen and (min-width: 768px) {
      .gallery.modal-g .gallery-item {
        width: 20%; } }
    .gallery.modal-g .gallery-item:hover {
      opacity: 0.8; }
.gallery.slide-g {
  position: relative; }
  .gallery.slide-g .current-image {
    margin-bottom: 10px;
    height: 200px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .gallery.slide-g .current-image {
        height: 500px; } }
    .gallery.slide-g .current-image:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .gallery.slide-g .current-image img {
      vertical-align: middle;
      margin: 0 auto;
      max-height: 100%;
      width: auto; }
  .gallery.slide-g .next, .gallery.slide-g .previous {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 5%;
    background-color: #dedede;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    color: #999999; }
    @media screen and (min-width: 768px) {
      .gallery.slide-g .next, .gallery.slide-g .previous {
        height: 200px;
        width: 3%; } }
    .gallery.slide-g .next.disabled, .gallery.slide-g .previous.disabled {
      cursor: default; }
      .gallery.slide-g .next.disabled i, .gallery.slide-g .previous.disabled i {
        opacity: 0.3; }
    .gallery.slide-g .next i, .gallery.slide-g .previous i {
      position: absolute;
      top: 50%; }
  .gallery.slide-g .next {
    right: 0; }
    .gallery.slide-g .next i {
      right: 20%; }
  .gallery.slide-g .previous {
    left: 0; }
    .gallery.slide-g .previous i {
      left: 20%; }
  .gallery.slide-g .slide-items {
    overflow: hidden;
    height: 75px;
    width: 90%;
    position: relative;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .gallery.slide-g .slide-items {
        height: 200px;
        width: 94%; } }
    .gallery.slide-g .slide-items > div {
      max-width: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; }
  .gallery.slide-g .gallery-item {
    padding: 0 5px;
    height: 75px;
    width: 75px; }
    @media screen and (min-width: 768px) {
      .gallery.slide-g .gallery-item {
        height: 200px;
        width: 200px; } }
    .gallery.slide-g .gallery-item div {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-position: center center;
      background-clip: content-box; }
      .gallery.slide-g .gallery-item div:hover {
        opacity: 0.8; }
      .gallery.slide-g .gallery-item div.active {
        cursor: default;
        opacity: 0.8; }
.gallery.masonry-g {
  display: table;
  table-layout: fixed; }
  .gallery.masonry-g .gallery-column {
    display: block;
    padding-left: 3px; }
    @media screen and (min-width: 480px) {
      .gallery.masonry-g .gallery-column {
        display: table-cell;
        vertical-align: top; } }
    .gallery.masonry-g .gallery-column img {
      width: 100%;
      height: auto;
      cursor: pointer; }
      .gallery.masonry-g .gallery-column img:hover {
        opacity: 0.8; }

.carousel {
  height: 350px;
  overflow: hidden;
  position: relative; }
  .carousel ul {
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    text-align: left;
    max-width: none; }
    .carousel ul li {
      float: left;
      border-radius: 0;
      padding: 10px;
      margin: 0;
      height: 100%;
      overflow: hidden; }
  .carousel .indicators {
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center; }
    .carousel .indicators .indicator {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: rgba(255, 255, 255, 0.35);
      cursor: pointer; }
      .carousel .indicators .indicator.active {
        cursor: default;
        background-color: #fff; }

.grid {
  background-color: #0084bf;
  color: #fff; }

section {
  margin: 50px 0; }
  section > h3:first-child {
    border-bottom: 1px solid #dedede; }
  section > h2:first-child {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #101010;
    color: #fff; }

.code {
  background-color: #e8e8e8;
  color: #68af4e;
  white-space: pre-line; }

.line {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line:before, .line:after {
    border-top: 1px solid #999999;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.48em; }
  .line:before {
    width: 45%;
    right: 2.5%; }
  .line:after {
    width: 45%;
    left: 2.5%; }

.line-left {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line-left:before, .line-left:after {
    border-top: 3px solid #0084bf;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.44em; }
  .line-left:before {
    width: 0;
    right: 2.5%; }
  .line-left:after {
    width: 100%;
    left: 2.5%; }

.line-right {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line-right:before, .line-right:after {
    border-top: 2px dashed #68af4e;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.46em; }
  .line-right:before {
    width: 80%;
    right: 2.5%; }
  .line-right:after {
    width: 20%;
    left: 2.5%; }

.arrow {
  padding: 15px;
  position: relative;
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .arrow {
      width: 100%; } }
  .arrow.up:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.down:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf; }
  .arrow.left:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf; }
  .arrow.right:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf; }
  .arrow.up.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf;
    bottom: 0;
    border-bottom-color: #f5f5f5; }
  .arrow.down.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf;
    top: 0;
    border-top-color: #f5f5f5; }
  .arrow.left.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf;
    right: 0;
    border-right-color: #f5f5f5; }
  .arrow.right.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf;
    left: 0;
    border-left-color: #f5f5f5; }
  .arrow.up-down:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.up-down:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf; }
  .arrow.left-right-inv:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf;
    right: 0;
    border-right-color: #f5f5f5; }
  .arrow.left-right-inv:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf;
    left: 0;
    border-left-color: #f5f5f5; }
  .arrow.left-up:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 15px;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf; }
  .arrow.left-up:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 80%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.left-double:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf; }
  .arrow.left-double:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf;
    right: 0;
    border-right-color: #f5f5f5; }

.arrow-image {
  padding: 15px; }
  .arrow-image.up {
    /* ERROR HANDLING */
    position: relative;
    padding-top: 30px;
    margin-top: -15px; }
    .arrow-image.up:before, .arrow-image.up:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.up:before, .arrow-image.up:after {
      width: 50%; }
    .arrow-image.up:before {
      left: -15px;
      border-right: 15px solid transparent; }
    .arrow-image.up:after {
      right: -15px;
      border-left: 15px solid transparent; }
    .arrow-image.up:before, .arrow-image.up:after {
      top: 0;
      border-top: 15px solid #f5f5f5; }
  .arrow-image.down {
    /* ERROR HANDLING */
    position: relative;
    padding-bottom: 30px;
    margin-bottom: -15px; }
    .arrow-image.down:before, .arrow-image.down:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.down:before, .arrow-image.down:after {
      width: 50%; }
    .arrow-image.down:before {
      left: -15px;
      border-right: 15px solid transparent; }
    .arrow-image.down:after {
      right: -15px;
      border-left: 15px solid transparent; }
    .arrow-image.down:before, .arrow-image.down:after {
      bottom: 0;
      border-bottom: 19px solid #f5f5f5; }
  .arrow-image.left {
    /* ERROR HANDLING */
    position: relative; }
    .arrow-image.left:before, .arrow-image.left:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.left:before, .arrow-image.left:after {
      height: 50%; }
    .arrow-image.left:before {
      top: -15px;
      border-bottom: 19px solid transparent; }
    .arrow-image.left:after {
      bottom: -15px;
      border-top: 15px solid transparent; }
    .arrow-image.left:before, .arrow-image.left:after {
      left: 0;
      border-left: 15px solid #f5f5f5; }
  .arrow-image.right {
    /* ERROR HANDLING */
    position: relative; }
    .arrow-image.right:before, .arrow-image.right:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.right:before, .arrow-image.right:after {
      height: 50%; }
    .arrow-image.right:before {
      top: -15px;
      border-bottom: 19px solid transparent; }
    .arrow-image.right:after {
      bottom: -15px;
      border-top: 15px solid transparent; }
    .arrow-image.right:before, .arrow-image.right:after {
      right: 0;
      border-right: 15px solid #f5f5f5; }

.slanted {
  /* ERROR HANDLING */
  position: relative;
  overflow: hidden;
  outline: 1px solid transparent;
  padding: 0;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg); }
  .slanted .content {
    padding: 25px;
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg); }
  .slanted .content {
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg); }
  .slanted.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg); }
    .slanted.reverse .content {
      padding: 25px;
      -webkit-transform: skewY(-2deg);
          -ms-transform: skewY(-2deg);
              transform: skewY(-2deg); }
    .slanted.reverse .content {
      -webkit-transform: skewY(-2deg);
          -ms-transform: skewY(-2deg);
              transform: skewY(-2deg); }
  .slanted.x {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg); }
    .slanted.x .content {
      padding: 25px;
      -webkit-transform: skewY(-2deg);
          -ms-transform: skewY(-2deg);
              transform: skewY(-2deg); }
    .slanted.x .content {
      -webkit-transform: skew(10deg);
          -ms-transform: skew(10deg);
              transform: skew(10deg); }
  .slanted.x.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
            transform: skew(10deg); }
    .slanted.x.reverse .content {
      padding: 25px;
      -webkit-transform: skewY(2deg);
          -ms-transform: skewY(2deg);
              transform: skewY(2deg); }
    .slanted.x.reverse .content {
      -webkit-transform: skew(-10deg);
          -ms-transform: skew(-10deg);
              transform: skew(-10deg); }

.slant {
  position: relative;
  padding: 15px; }
  .slant.top:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
            transform: skewY(-2deg); }
  .slant.bottom:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg); }
  .slant.left:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    left: 0;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg); }
  .slant.right:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    right: 0;
    -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
            transform: skew(10deg); }
  .slant.left-bottom:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
    left: 0;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg);
    -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
            transform: skew(10deg); }
  .slant.left-bottom:after {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(2deg);
        -ms-transform: skewY(2deg);
            transform: skewY(2deg); }
  .slant.double-top:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
            transform: skewY(-5deg); }
  .slant.double-top:after {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
            transform: skewY(-5deg);
    -webkit-transform: skewY(5deg);
        -ms-transform: skewY(5deg);
            transform: skewY(5deg); }

.slanted-image {
  padding: 15px; }
  .slanted-image.top {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top:before {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.top:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
              transform: skewY(-5deg); }
  .slanted-image.top.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top.reverse:before {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.top.reverse:before {
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.top.reverse:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
              transform: skewY(-5deg); }
    .slanted-image.top.reverse:before {
      -webkit-transform: skewY(5deg);
          -ms-transform: skewY(5deg);
              transform: skewY(5deg); }
  .slanted-image.bottom {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.bottom:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.bottom:before {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.bottom:before {
      top: 100%;
      -webkit-transform: skewY(5deg);
          -ms-transform: skewY(5deg);
              transform: skewY(5deg); }
  .slanted-image.bottom.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.bottom.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.bottom.reverse:before {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.bottom.reverse:before {
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.bottom.reverse:before {
      top: 100%;
      -webkit-transform: skewY(5deg);
          -ms-transform: skewY(5deg);
              transform: skewY(5deg); }
    .slanted-image.bottom.reverse:before {
      -webkit-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
              transform: skewY(-5deg); }
  .slanted-image.left {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.left:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.left:before {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.left:before {
      right: 100%;
      -webkit-transform: skew(5deg);
          -ms-transform: skew(5deg);
              transform: skew(5deg); }
  .slanted-image.left.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.left.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.left.reverse:before {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.left.reverse:before {
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom; }
    .slanted-image.left.reverse:before {
      right: 100%;
      -webkit-transform: skew(5deg);
          -ms-transform: skew(5deg);
              transform: skew(5deg); }
    .slanted-image.left.reverse:before {
      -webkit-transform: skew(-5deg);
          -ms-transform: skew(-5deg);
              transform: skew(-5deg); }
  .slanted-image.right {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right:before {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.right:before {
      left: 100%;
      -webkit-transform: skew(-5deg);
          -ms-transform: skew(-5deg);
              transform: skew(-5deg); }
  .slanted-image.right.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right.reverse:before {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.right.reverse:before {
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom; }
    .slanted-image.right.reverse:before {
      left: 100%;
      -webkit-transform: skew(-5deg);
          -ms-transform: skew(-5deg);
              transform: skew(-5deg); }
    .slanted-image.right.reverse:before {
      -webkit-transform: skew(5deg);
          -ms-transform: skew(5deg);
              transform: skew(5deg); }
  .slanted-image.right-left {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right-left:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right-left:before {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.right-left:before {
      left: 100%;
      -webkit-transform: skew(-10deg);
          -ms-transform: skew(-10deg);
              transform: skew(-10deg); }
    .slanted-image.right-left:after {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right-left:after {
      top: 0;
      -webkit-transform-origin: left top;
          -ms-transform-origin: left top;
              transform-origin: left top; }
    .slanted-image.right-left:after {
      right: 100%;
      -webkit-transform: skew(10deg);
          -ms-transform: skew(10deg);
              transform: skew(10deg); }
  .slanted-image.top-bottom {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top-bottom:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top-bottom:before {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.top-bottom:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
              transform: skewY(-5deg); }
    .slanted-image.top-bottom:after {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top-bottom:after {
      left: 0;
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
    .slanted-image.top-bottom:after {
      top: 100%;
      -webkit-transform: skewY(5deg);
          -ms-transform: skewY(5deg);
              transform: skewY(5deg); }

.bg {
  background-image: url("../img/image.jpg");
  color: white;
  text-shadow: 1px 1px 2px black; }

.fade {
  padding: 15px; }
  .fade.all {
    box-shadow: 0 0 10px 8px #f5f5f5 inset; }
  .fade.top {
    box-shadow: 0px 30px 10px -20px #f5f5f5 inset; }
  .fade.bottom {
    box-shadow: 0px -30px 10px -20px #f5f5f5 inset; }
  .fade.right {
    box-shadow: -30px 0px 10px -20px #f5f5f5 inset; }
  .fade.left {
    box-shadow: 30px 0px 10px -20px #f5f5f5 inset; }

.circle {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 0;
  border-radius: 50%; }

.card {
  position: relative;
  overflow: hidden; }

.ribbon {
  position: relative;
  overflow: hidden; }
  .ribbon.top-left {
    width: 200px;
    background-color: #0084bf;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    top: 15px;
    left: -50px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .ribbon.top-right {
    width: 200px;
    background-color: #0084bf;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    top: 15px;
    right: -50px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .ribbon.bottom-left {
    width: 200px;
    background-color: #0084bf;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    bottom: 15px;
    left: -50px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .ribbon.bottom-right {
    width: 200px;
    background-color: #0084bf;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    bottom: 15px;
    right: -50px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

nav {
  background-color: #0084bf;
  color: #fff; }
  nav svg {
    fill: white; }
  nav.horizontal {
    text-align: center; }
    nav.horizontal ul li ul {
      background: #0084bf; }
  nav .hamburger-container .hamburger span, nav .hamburger-container .hamburger span:before, nav .hamburger-container .hamburger span:after {
    background: white; }

.show-icon {
  font-size: 4em;
  color: #101010; }
