/* Colors */
/* Calculated Colors */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin,latin-ext);
/* Borders */
/* Container Width */
/* Minimal normalize/reset-styling provided by Jayden Seric, http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

strong {
  font-weight: bold; }

a,
button,
input[type="button"],
select[type="button"],
.multiple ul[type="button"],
.dropdown ul[type="button"] {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button, input[type="button"], select[type="button"], .multiple ul[type="button"], .dropdown ul[type="button"] {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.row .col {
  margin: 10px 0;
  padding: 10px;
  min-height: 1px; }
@media (min-width: 750px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch; }
    .row.to-bottom {
      flex-direction: column; }
    .row.item-align-center {
      justify-content: center; }
    .row.item-align-right {
      justify-content: flex-end; }
    .row.item-align-spread {
      justify-content: space-around; }
    .row.item-valign-top {
      align-content: flex-start; }
    .row.item-valign-bottom {
      align-content: flex-end; }
    .row.item-valign-middle {
      align-content: center; }
    .row.item-valign-baseline {
      align-content: baseline; }
    .row .col {
      margin: 10px;
      flex-grow: 1; }
      .row .col:first-child {
        margin-left: 0; }
      .row .col:last-child {
        margin-right: 0; }
      .row .col.one {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
        flex-grow: 0; }
      .row .col.two {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
        flex-grow: 0; }
      .row .col.three {
        flex-basis: 25%;
        max-width: 25%;
        flex-grow: 0; }
      .row .col.four {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
        flex-grow: 0; }
      .row .col.five {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        flex-grow: 0; }
      .row .col.six {
        flex-basis: 50%;
        max-width: 50%;
        flex-grow: 0; }
      .row .col.seven {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
        flex-grow: 0; }
      .row .col.eight {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
        flex-grow: 0; }
      .row .col.nine {
        flex-basis: 75%;
        max-width: 75%;
        flex-grow: 0; }
      .row .col.ten {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
        flex-grow: 0; }
      .row .col.eleven {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
        flex-grow: 0; }
      .row .col.twelve {
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 0; } }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-mute {
  color: #999999; }

.inline-block {
  display: inline-block;
  margin: 5px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.divider-heading {
  border-bottom: 1px #ff7b40 solid; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #f5f5f5;
  color: #101010; }

/* HEADINGS */
h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0; }

/* LINKS */
a {
  color: #0084bf; }
  a:hover {
    color: #00a7f2; }

/* BUTTONS */
button, input[type="button"], select[type="button"], .multiple ul[type="button"], .dropdown ul[type="button"] {
  background-color: #dedede;
  padding: 10px 20px;
  border-radius: 3px; }
  button.primary, input.primary[type="button"], select.primary[type="button"], .multiple ul.primary[type="button"], .dropdown ul.primary[type="button"] {
    background-color: #0084bf;
    color: #fff; }
  button.secondary, input.secondary[type="button"], select.secondary[type="button"], .multiple ul.secondary[type="button"], .dropdown ul.secondary[type="button"] {
    background-color: #68af4e;
    color: #fff; }
  button.contrast, input.contrast[type="button"], select.contrast[type="button"], .multiple ul.contrast[type="button"], .dropdown ul.contrast[type="button"] {
    background-color: #ff7b40;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, select[type="button"]:disabled, .multiple ul[type="button"]:disabled, .dropdown ul[type="button"]:disabled {
    background: none;
    border: 1px solid #dedede;
    color: #999999;
    cursor: not-allowed; }

/* LISTS */
ul, ol {
  margin: 10px 0; }

ul li {
  padding: .6em;
  border-radius: .2em;
  margin: .2em 0;
  background-color: #dedede; }
ul.underline li {
  border-radius: 0;
  background: none;
  border-bottom: 1px solid #0084bf; }

ol {
  counter-reset: li;
  *list-style: decimal;
  margin-left: 1em; }
  ol ol {
    margin-left: 2.5em; }
  ol li {
    padding: .6em .6em .6em 2.5em;
    margin: .2em 0;
    position: relative;
    border-radius: .2em;
    background-color: #dedede; }
  ol li:before {
    background-color: #0084bf;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.8em;
    top: 50%;
    margin-top: -1.1em;
    padding: 1.7px;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-right: #f5f5f5 0.3em solid; }
  ol.round li:before {
    left: -1em;
    margin-top: -1.3em;
    padding: 1px;
    border-radius: 50%;
    border: #f5f5f5 0.3em solid; }

/* FORMS */
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, .multiple ul.ng-invalid.ng-touched, .dropdown ul.ng-invalid.ng-touched {
  border: 1px solid #b20000; }

input, select, .multiple ul, .dropdown ul, textarea, fieldset {
  margin: 10px 0;
  font-family: sans-serif; }

input, select, .multiple ul, .dropdown ul, textarea {
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 10px;
  width: 100%; }
  input:disabled, select:disabled, .multiple ul:disabled, .dropdown ul:disabled, textarea:disabled {
    background-color: #dedede;
    cursor: not-allowed; }

.dropdown {
  position: relative;
  height: 50px; }
  .dropdown label {
    position: absolute;
    top: 35%;
    right: 3%;
    height: 15px;
    width: 15px;
    z-index: 1; }
    .dropdown label svg {
      fill: #0084bf; }
  .dropdown ul {
    background-color: #fff;
    padding: 0;
    cursor: default; }
    .dropdown ul li {
      margin: 0;
      background: none;
      border-radius: 0; }
      .dropdown ul li:hover {
        background-color: #00a7f2;
        color: #fff; }
      .dropdown ul li:first-child {
        color: #101010;
        position: relative; }
        .dropdown ul li:first-child:hover {
          background: none; }
  .dropdown select, .dropdown .multiple ul, .multiple .dropdown ul {
    display: none; }

.multiple select, .multiple ul {
  display: none; }
.multiple ul {
  background: #fff;
  display: block; }
  .multiple ul li {
    background: none;
    border-radius: 0;
    cursor: pointer;
    margin: 0; }
    .multiple ul li.selected {
      background-color: #00a7f2;
      color: #fff; }

input[type="checkbox"], select[type="checkbox"], .multiple ul[type="checkbox"], .dropdown ul[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label span, select[type="checkbox"] + label span, .multiple ul[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="checkbox"] + label span svg, select[type="checkbox"] + label span svg, .multiple ul[type="checkbox"] + label span svg, .dropdown ul[type="checkbox"] + label span svg {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="checkbox"]:checked + label span svg, select[type="checkbox"]:checked + label span svg, .multiple ul[type="checkbox"]:checked + label span svg, .dropdown ul[type="checkbox"]:checked + label span svg {
    display: block; }
  input[type="checkbox"]:disabled + label span, select[type="checkbox"]:disabled + label span, .multiple ul[type="checkbox"]:disabled + label span, .dropdown ul[type="checkbox"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="checkbox"] + label span, select[type="checkbox"] + label span, .multiple ul[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    width: 19px;
    height: 19px; }
    input[type="checkbox"] + label span svg, select[type="checkbox"] + label span svg, .multiple ul[type="checkbox"] + label span svg, .dropdown ul[type="checkbox"] + label span svg {
      height: 20px;
      width: 20px;
      margin-top: -4px;
      margin-left: 0px; }

input[type="radio"], select[type="radio"], .multiple ul[type="radio"], .dropdown ul[type="radio"] {
  display: none; }
  input[type="radio"] + label span, select[type="radio"] + label span, .multiple ul[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="radio"] + label span svg, select[type="radio"] + label span svg, .multiple ul[type="radio"] + label span svg, .dropdown ul[type="radio"] + label span svg {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="radio"]:checked + label span svg, select[type="radio"]:checked + label span svg, .multiple ul[type="radio"]:checked + label span svg, .dropdown ul[type="radio"]:checked + label span svg {
    display: block; }
  input[type="radio"]:disabled + label span, select[type="radio"]:disabled + label span, .multiple ul[type="radio"]:disabled + label span, .dropdown ul[type="radio"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="radio"] + label span, select[type="radio"] + label span, .multiple ul[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    width: 19px;
    height: 19px;
    padding: 2px; }

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-family: sans-serif; }

fieldset {
  border-radius: 5px;
  border-color: #dedede;
  border-style: solid;
  border-width: 1px; }
  fieldset legend {
    margin-bottom: 10px;
    padding: 0 10px;
    color: #999999; }

.form-section {
  position: relative; }
  .form-section.row input, .form-section.row select, .form-section.row .multiple ul, .multiple .form-section.row ul, .form-section.row .dropdown ul, .dropdown .form-section.row ul, .form-section textarea, .form-section fieldset {
    margin: 0; }
  .form-section label {
    display: block; }
    .form-section label span.info {
      display: block;
      font-size: 0.8em;
      color: #999999; }
  .form-section .error p {
    color: #b20000;
    margin-bottom: 15px; }

.input {
  position: relative;
  /*  &:after{
      display: block;
      position: absolute;
      top: 40%;
      right: 10px;
    }
  
    &.required:after{
      content: "*";
    }*/ }
  .input.icon-padding input, .input.icon-padding select, .input.icon-padding .multiple ul, .multiple .input.icon-padding ul, .input.icon-padding .dropdown ul, .dropdown .input.icon-padding ul {
    padding-right: 20px; }

.grid {
  background-color: #0084bf;
  color: #fff; }

section {
  margin: 50px 0; }

.code {
  background-color: #e8e8e8;
  color: #68af4e;
  white-space: pre-line; }
