@import 'theme';
@import 'browser_fix';
@import 'grid';
@import 'helpers';
@import 'components';

.grid{
  background-color: $primary-color;
}

section{
  margin: 50px 0;
}

.code{
  background-color: darken($background-color, 5);
  color: #68af4e;
  white-space: pre-line;
}