/* Colors */
/* Calculated Colors */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin,latin-ext);
/* Borders */
/* Container Width */
/* Minimal normalize/reset-styling provided by Jayden Seric, http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

strong {
  font-weight: bold; }

a,
button,
input[type="button"],
.dropdown ul[type="button"] {
  color: inherit; }

a {
  text-decoration: none; }

button, input[type="button"], .dropdown ul[type="button"] {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #dedede; }

::-moz-selection {
  background-color: #0084bf;
  color: #fff; }

::selection {
  background-color: #0084bf;
  color: #fff; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

video {
  max-width: 100%;
  height: auto; }

.row .col {
  margin: 10px 0;
  padding: 10px; }
@media (min-width: 750px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .row.to-bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .row.item-align-center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .row.item-align-right {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .row.item-align-spread {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .row.item-valign-top {
      -ms-flex-line-pack: start;
      align-content: flex-start; }
    .row.item-valign-bottom {
      -ms-flex-line-pack: end;
      align-content: flex-end; }
    .row.item-valign-middle {
      -ms-flex-line-pack: center;
      align-content: center; }
    .row.item-valign-baseline {
      -ms-flex-line-pack: baseline;
      align-content: baseline; }
    .row .col {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      min-height: 1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .row .col:first-child {
        padding-left: 0; }
      .row .col:last-child {
        padding-right: 0; }
      .row .col.one {
        width: 8.33333%;
        max-width: 8.33333%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.two {
        width: 16.66667%;
        max-width: 16.66667%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.three {
        width: 25%;
        max-width: 25%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.four {
        width: 33.33333%;
        max-width: 33.33333%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.five {
        width: 41.66667%;
        max-width: 41.66667%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.six {
        width: 50%;
        max-width: 50%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.seven {
        width: 58.33333%;
        max-width: 58.33333%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.eight {
        width: 66.66667%;
        max-width: 66.66667%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.nine {
        width: 75%;
        max-width: 75%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.ten {
        width: 83.33333%;
        max-width: 83.33333%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.eleven {
        width: 91.66667%;
        max-width: 91.66667%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col.twelve {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0; }
      .row .col > div {
        padding: 10px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; } }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.mute {
  color: #999999; }

.big {
  font-size: 1.4em; }

.normal {
  font-size: 1em; }

.small {
  font-size: 0.8em; }

.inline-block {
  display: inline-block;
  margin: 5px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.color-span {
  background-color: #0084bf;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.9em; }
  .contrast .color-span {
    background-color: #ff7b40;
    color: #fff; }
  .secondary .color-span {
    background-color: #ff7b40;
    color: #fff; }

.line {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line:before, .line:after {
    border-top: 1px solid #999999;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.5em; }
  .line:before {
    width: 45%;
    right: 2.5%; }
  .line:after {
    width: 45%;
    left: 2.5%; }

.line-left {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line-left:before, .line-left:after {
    border-top: 1px solid #999999;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.5em; }
  .line-left:before {
    width: 0;
    right: 2.5%; }
  .line-left:after {
    width: 100%;
    left: 2.5%; }

.line-right {
  display: table;
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap; }
  .line-right:before, .line-right:after {
    border-top: 1px solid #999999;
    content: ' ';
    display: table-cell;
    position: relative;
    top: 0.5em; }
  .line-right:before {
    width: 100%;
    right: 2.5%; }
  .line-right:after {
    width: 0;
    left: 2.5%; }

.primary-bg {
  background-color: #0084bf;
  color: #fff;
  padding: 10px 5px; }

.secondary-bg {
  background-color: #68af4e;
  color: #fff;
  padding: 10px 5px; }

.contrast-bg {
  background-color: #ff7b40;
  color: #fff;
  padding: 10px 5px; }

.invert-bg {
  background-color: #101010;
  color: #fff;
  padding: 10px 5px; }

.card {
  box-shadow: 0px 1px 2px rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  border: 1px solid #dedede; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background-color: #f5f5f5;
  color: #101010; }

/* TEXT */
h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

h1 {
  margin: 15px 0; }

h2 {
  margin: 15px 0; }

h3 {
  margin: 15px 0; }

h4 {
  margin: 15px 0; }

h5 {
  margin: 15px 0; }

h6 {
  margin: 15px 0; }

p {
  margin: 10px 0; }

/* LINKS */
a {
  color: #0084bf;
  -webkit-transition: .3s;
  transition: .3s; }
  a:hover {
    color: #00a7f2; }

/* BUTTONS */
button, input[type="button"], .dropdown ul[type="button"] {
  padding: 10px 20px;
  border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #dedede;
  color: #5f5f5f; }
  button:hover, input[type="button"]:hover, .dropdown ul[type="button"]:hover {
    background-color: #d1d1d1; }
  button:active, input[type="button"]:active, .dropdown ul[type="button"]:active {
    background-color: #b8b8b8; }
  button.primary, input.primary[type="button"], .dropdown ul.primary[type="button"] {
    background-color: #0084bf;
    color: #fff; }
    button.primary:hover, input.primary[type="button"]:hover, .dropdown ul.primary[type="button"]:hover {
      background-color: #0072a6; }
    button.primary:active, input.primary[type="button"]:active, .dropdown ul.primary[type="button"]:active {
      background-color: #004f73; }
  button.secondary, input.secondary[type="button"], .dropdown ul.secondary[type="button"] {
    background-color: #68af4e;
    color: #fff; }
    button.secondary:hover, input.secondary[type="button"]:hover, .dropdown ul.secondary[type="button"]:hover {
      background-color: #5e9d46; }
    button.secondary:active, input.secondary[type="button"]:active, .dropdown ul.secondary[type="button"]:active {
      background-color: #497a36; }
  button.contrast, input.contrast[type="button"], .dropdown ul.contrast[type="button"] {
    background-color: #ff7b40;
    color: #fff; }
    button.contrast:hover, input.contrast[type="button"]:hover, .dropdown ul.contrast[type="button"]:hover {
      background-color: #ff6927; }
    button.contrast:active, input.contrast[type="button"]:active, .dropdown ul.contrast[type="button"]:active {
      background-color: #f34b00; }
  button:disabled, input[type="button"]:disabled, .dropdown ul[type="button"]:disabled {
    background: none;
    border: 1px solid #dedede;
    color: #999999;
    cursor: not-allowed; }

/* LISTS */
ul, ol {
  margin: 10px 0; }

ul li {
  padding: .6em;
  border-radius: .2em;
  margin: .2em 0;
  background-color: #dedede; }
ul.underline li {
  border-radius: 0;
  background: none;
  border-bottom: 1px solid #0084bf; }

ol {
  counter-reset: li;
  *list-style: decimal;
  margin-left: 1em; }
  ol ol {
    margin-left: 2.5em; }
  ol li {
    padding: .6em .6em .6em 2.5em;
    margin: .2em 0;
    position: relative;
    border-radius: .2em;
    background-color: #dedede; }
  ol li:before {
    background-color: #0084bf;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.8em;
    top: 50%;
    margin-top: -1.1em;
    padding: 1.7px;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
    border-right: #f5f5f5 0.3em solid; }
  ol.round li:before {
    left: -1em;
    margin-top: -1.3em;
    padding: 1px;
    border-radius: 50%;
    border: #f5f5f5 0.3em solid; }

/* FORMS */
input, .dropdown ul, textarea, fieldset, select, .multiple ul {
  margin-bottom: 10px;
  font-family: sans-serif;
  -webkit-transition: .3s;
  transition: .3s; }

/* Input, Textarea */
input, .dropdown ul, textarea, select, .multiple ul {
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  font-family: sans-serif; }
  input:disabled, .dropdown ul:disabled, textarea:disabled, select:disabled, .multiple ul:disabled {
    background-color: #dedede;
    cursor: not-allowed; }
  input.ng-invalid.ng-touched, .dropdown ul.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched, .multiple ul.ng-invalid.ng-touched {
    border: 1px solid #b20000; }

textarea {
  min-height: 100px;
  resize: vertical; }

.form-section {
  position: relative; }
  .form-section.row input, .form-section.row .dropdown ul, .dropdown .form-section.row ul, .form-section.row textarea, .form-section.row fieldset {
    margin: 0; }
  .form-section label {
    display: block;
    margin-bottom: 10px; }
    .form-section label span.info {
      display: block;
      font-size: 0.8em;
      color: #999999; }
  .form-section .error p {
    color: #b20000;
    margin-bottom: 15px; }
  .form-section .input {
    position: relative; }
    .form-section .input.icon-padding input, .form-section .input.icon-padding .dropdown ul, .dropdown .form-section .input.icon-padding ul {
      padding-right: 20px; }

/* Fieldset */
fieldset {
  border-radius: 5px;
  border-color: #dedede;
  border-style: solid;
  border-width: 1px; }
  fieldset legend {
    margin-bottom: 10px;
    padding: 0 10px;
    color: #999999; }

/* Select */
.dropdown {
  position: relative;
  height: 47px; }
  .dropdown ul {
    background-color: #fff;
    padding: 0;
    cursor: default; }
    .dropdown ul.disabled {
      background-color: #dedede;
      cursor: not-allowed; }
      .dropdown ul.disabled li:first-child {
        color: #999999; }
      .dropdown ul.disabled svg {
        fill: #999999; }
    .dropdown ul li {
      margin: 0;
      background: none;
      border-radius: 0; }
      .dropdown ul li:hover, .dropdown ul li.active {
        background-color: #00a7f2;
        color: #fff; }
      .dropdown ul li:first-child {
        color: #101010;
        position: relative; }
        .dropdown ul li:first-child:hover {
          background: none; }
      .dropdown ul li label {
        position: absolute;
        top: 35%;
        right: 3%;
        height: 15px;
        width: 15px;
        z-index: 1; }
        .dropdown ul li label svg {
          fill: #0084bf; }
  .dropdown select, .dropdown .multiple ul, .multiple .dropdown ul {
    display: none; }

.multiple select, .multiple ul {
  display: none; }
.multiple ul {
  background: #fff;
  display: block; }
  .multiple ul.disabled {
    background-color: #dedede;
    color: #999999; }
    .multiple ul.disabled li {
      cursor: not-allowed; }
  .multiple ul li {
    background: none;
    border-radius: 0;
    cursor: pointer;
    margin: 0; }
    .multiple ul li.active {
      background-color: #dedede;
      color: #5f5f5f; }
    .multiple ul li.selected {
      background-color: #00a7f2;
      color: #fff; }
    .multiple ul li.selected.active {
      background-color: #0084bf;
      color: #fff; }

/* Radio Buttons and Checkboxes */
input[type="checkbox"], .dropdown ul[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="checkbox"] + label span svg, .dropdown ul[type="checkbox"] + label span svg {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="checkbox"]:checked + label span svg, .dropdown ul[type="checkbox"]:checked + label span svg {
    display: block; }
  input[type="checkbox"]:disabled + label span, .dropdown ul[type="checkbox"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="checkbox"] + label span, .dropdown ul[type="checkbox"] + label span {
    border-radius: 3px;
    width: 19px;
    height: 19px; }
    input[type="checkbox"] + label span svg, .dropdown ul[type="checkbox"] + label span svg {
      height: 20px;
      width: 20px;
      margin-top: -4px;
      margin-left: 0px; }

input[type="radio"], .dropdown ul[type="radio"] {
  display: none; }
  input[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    vertical-align: text-bottom;
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #ffffff;
    cursor: pointer; }
    input[type="radio"] + label span svg, .dropdown ul[type="radio"] + label span svg {
      fill: #0084bf;
      stroke: #00618c;
      stroke-miterlimit: 10;
      display: none; }
  input[type="radio"]:checked + label span svg, .dropdown ul[type="radio"]:checked + label span svg {
    display: block; }
  input[type="radio"]:disabled + label span, .dropdown ul[type="radio"]:disabled + label span {
    background-color: #dedede;
    cursor: not-allowed; }
  input[type="radio"] + label span, .dropdown ul[type="radio"] + label span {
    border-radius: 50%;
    width: 19px;
    height: 19px;
    padding: 2px; }

/* Submit */
/* TABLES */
table {
  text-align: left;
  border-spacing: 0; }
  table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
    color: #999999;
    font-weight: normal; }
  table thead th, table thead td {
    background-color: #0084bf;
    color: #fff;
    font-weight: normal; }
  table th, table td {
    padding: 15px;
    border-bottom: 1px #dedede solid; }
  table tfoot {
    color: #999999; }
    table tfoot th, table tfoot td {
      border: none; }
    table tfoot tr:hover {
      background: none; }
  table tr:nth-child(even) {
    background: #ececec; }

.grid {
  background-color: #0084bf;
  color: #fff; }

section {
  margin: 50px 0; }
  section > h3 {
    border-bottom: 1px solid #dedede; }

.code {
  background-color: #e8e8e8;
  color: #68af4e;
  white-space: pre-line; }

.arrow {
  padding: 15px;
  position: relative; }
  .arrow.up:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.down:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf; }
  .arrow.left:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf; }
  .arrow.right:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf; }
  .arrow.up.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf;
    bottom: 0;
    border-bottom-color: #f5f5f5; }
  .arrow.down.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf;
    top: 0;
    border-top-color: #f5f5f5; }
  .arrow.left.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf;
    right: 0;
    border-right-color: #f5f5f5; }
  .arrow.right.inverse:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf;
    left: 0;
    border-left-color: #f5f5f5; }
  .arrow.up-down:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.up-down:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    border-top-color: #0084bf; }
  .arrow.left-right-inv:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf;
    right: 0;
    border-right-color: #f5f5f5; }
  .arrow.left-right-inv:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf;
    left: 0;
    border-left-color: #f5f5f5; }
  .arrow.left-up:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 15px;
    margin-top: -15px;
    right: 100%;
    border-right-color: #0084bf; }
  .arrow.left-up:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    left: 80%;
    margin-left: -15px;
    bottom: 100%;
    border-bottom-color: #0084bf; }
  .arrow.right-double:before {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf; }
  .arrow.right-double:after {
    /* ERROR HANDLING */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    border-left-color: #0084bf;
    left: 0;
    border-left-color: #f5f5f5; }

.arrow-image {
  padding: 15px; }
  .arrow-image.up {
    /* ERROR HANDLING */
    position: relative;
    padding-top: 30px;
    margin-top: -15px; }
    .arrow-image.up:before, .arrow-image.up:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.up:before, .arrow-image.up:after {
      width: 50%; }
    .arrow-image.up:before {
      left: -15px;
      border-right: 15px solid transparent; }
    .arrow-image.up:after {
      right: -15px;
      border-left: 15px solid transparent; }
    .arrow-image.up:before, .arrow-image.up:after {
      top: 0;
      border-top: 15px solid #f5f5f5; }
  .arrow-image.down {
    /* ERROR HANDLING */
    position: relative;
    padding-bottom: 30px;
    margin-bottom: -15px; }
    .arrow-image.down:before, .arrow-image.down:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.down:before, .arrow-image.down:after {
      width: 50%; }
    .arrow-image.down:before {
      left: -15px;
      border-right: 15px solid transparent; }
    .arrow-image.down:after {
      right: -15px;
      border-left: 15px solid transparent; }
    .arrow-image.down:before, .arrow-image.down:after {
      bottom: 0;
      border-bottom: 19px solid #f5f5f5; }
  .arrow-image.left {
    /* ERROR HANDLING */
    position: relative; }
    .arrow-image.left:before, .arrow-image.left:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.left:before, .arrow-image.left:after {
      height: 50%; }
    .arrow-image.left:before {
      top: -15px;
      border-bottom: 19px solid transparent; }
    .arrow-image.left:after {
      bottom: -15px;
      border-top: 15px solid transparent; }
    .arrow-image.left:before, .arrow-image.left:after {
      left: 0;
      border-left: 15px solid #f5f5f5; }
  .arrow-image.right {
    /* ERROR HANDLING */
    position: relative; }
    .arrow-image.right:before, .arrow-image.right:after {
      position: absolute;
      display: block;
      content: " ";
      z-index: 100;
      pointer-events: none; }
    .arrow-image.right:before, .arrow-image.right:after {
      height: 50%; }
    .arrow-image.right:before {
      top: -15px;
      border-bottom: 19px solid transparent; }
    .arrow-image.right:after {
      bottom: -15px;
      border-top: 15px solid transparent; }
    .arrow-image.right:before, .arrow-image.right:after {
      right: 0;
      border-right: 15px solid #f5f5f5; }

.slanted {
  /* ERROR HANDLING */
  position: relative;
  overflow: hidden;
  outline: 1px solid transparent;
  padding: 0;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg); }
  .slanted .content {
    padding: 25px;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg); }
  .slanted .content {
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg); }
  .slanted.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg); }
    .slanted.reverse .content {
      padding: 25px;
      -webkit-transform: skewY(-2deg);
      transform: skewY(-2deg); }
    .slanted.reverse .content {
      -webkit-transform: skewY(-2deg);
      transform: skewY(-2deg); }
  .slanted.x {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg); }
    .slanted.x .content {
      padding: 25px;
      -webkit-transform: skewY(-2deg);
      transform: skewY(-2deg); }
    .slanted.x .content {
      -webkit-transform: skew(10deg);
      transform: skew(10deg); }
  .slanted.x.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    outline: 1px solid transparent;
    padding: 0;
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }
    .slanted.x.reverse .content {
      padding: 25px;
      -webkit-transform: skewY(2deg);
      transform: skewY(2deg); }
    .slanted.x.reverse .content {
      -webkit-transform: skew(-10deg);
      transform: skew(-10deg); }

.slant {
  position: relative;
  padding: 15px; }
  .slant.top:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg); }
  .slant.bottom:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg); }
  .slant.left:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    left: 0;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg); }
  .slant.right:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    right: 0;
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }
  .slant.left-bottom:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    left: 0;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }
  .slant.left-bottom:after {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(2deg);
    transform: skewY(2deg); }
  .slant.double-top:before {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg); }
  .slant.double-top:after {
    /* ERROR HANDLING */
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: inherit;
    z-index: -999;
    left: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg); }

.slanted-image {
  padding: 15px; }
  .slanted-image.top {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top:before {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.top:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
      transform: skewY(-5deg); }
  .slanted-image.top.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top.reverse:before {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.top.reverse:before {
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.top.reverse:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
      transform: skewY(-5deg); }
    .slanted-image.top.reverse:before {
      -webkit-transform: skewY(5deg);
      transform: skewY(5deg); }
  .slanted-image.bottom {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.bottom:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.bottom:before {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.bottom:before {
      top: 100%;
      -webkit-transform: skewY(5deg);
      transform: skewY(5deg); }
  .slanted-image.bottom.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.bottom.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.bottom.reverse:before {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.bottom.reverse:before {
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.bottom.reverse:before {
      top: 100%;
      -webkit-transform: skewY(5deg);
      transform: skewY(5deg); }
    .slanted-image.bottom.reverse:before {
      -webkit-transform: skewY(-5deg);
      transform: skewY(-5deg); }
  .slanted-image.left {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.left:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.left:before {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.left:before {
      right: 100%;
      -webkit-transform: skew(5deg);
      transform: skew(5deg); }
  .slanted-image.left.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.left.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.left.reverse:before {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.left.reverse:before {
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom; }
    .slanted-image.left.reverse:before {
      right: 100%;
      -webkit-transform: skew(5deg);
      transform: skew(5deg); }
    .slanted-image.left.reverse:before {
      -webkit-transform: skew(-5deg);
      transform: skew(-5deg); }
  .slanted-image.right {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right:before {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.right:before {
      left: 100%;
      -webkit-transform: skew(-5deg);
      transform: skew(-5deg); }
  .slanted-image.right.reverse {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right.reverse:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right.reverse:before {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.right.reverse:before {
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom; }
    .slanted-image.right.reverse:before {
      left: 100%;
      -webkit-transform: skew(-5deg);
      transform: skew(-5deg); }
    .slanted-image.right.reverse:before {
      -webkit-transform: skew(5deg);
      transform: skew(5deg); }
  .slanted-image.right-left {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.right-left:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right-left:before {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.right-left:before {
      left: 100%;
      -webkit-transform: skew(-10deg);
      transform: skew(-10deg); }
    .slanted-image.right-left:after {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.right-left:after {
      top: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top; }
    .slanted-image.right-left:after {
      right: 100%;
      -webkit-transform: skew(10deg);
      transform: skew(10deg); }
  .slanted-image.top-bottom {
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden;
    /* ERROR HANDLING */
    position: relative;
    overflow: hidden; }
    .slanted-image.top-bottom:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top-bottom:before {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.top-bottom:before {
      bottom: 100%;
      -webkit-transform: skewY(-5deg);
      transform: skewY(-5deg); }
    .slanted-image.top-bottom:after {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f5f5f5; }
    .slanted-image.top-bottom:after {
      left: 0;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
    .slanted-image.top-bottom:after {
      top: 100%;
      -webkit-transform: skewY(5deg);
      transform: skewY(5deg); }

.bg {
  background-image: url("../img/image.jpg");
  color: white;
  text-shadow: 1px 1px 2px black; }
